<template>
    <div ref="mapDiv" style="width: 100% ; height: 400px"/>
</template>

<script>
/* eslint-disable no-undef */
import {ref} from 'vue'
import {Loader} from '@googlemaps/js-api-loader'

const GOOGLE_MAPS_API_KEY = 'AIzaSyCXTibKAAEBiTONKMM0Lt-JcIJR4tu_vaQ'

export default {
    name: "Location",
    props: {
        lat: String,
        lng: String,
        public_gps: String,
    },
    setup(props) {
        const loader = new Loader({
            apiKey: GOOGLE_MAPS_API_KEY,libraries:['places']
        })
        const mapDiv = ref(null)
        let map = ref(null)

        const location = {
            lat: parseFloat(props.lat),
            lng: parseFloat(props.lng),

        }

        loader.deleteScript()

        //crea instancia del mapa
        loader.load().then(() => {
            map.value = new google.maps.Map(mapDiv.value, {
                //centrado en posicion actual
                center: location,
                zoom: 12
            })

            if (props.public_gps == '1') {
                new google.maps.Marker({
                    position: location,
                    map: map.value,
                });
            } else {
                new google.maps.Circle({
                    strokeColor: "#f03250",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "#f03250",
                    fillOpacity: 0.35,
                    map: map.value,
                    center: location,
                    //por redondeo se desfasa un poco, se agregan 7 para mitigar el problema
                    radius: 5007,
                })
            }
        })


        return {mapDiv, props};
    }
}
</script>

<style scoped>

</style>
