<template>
    <div ref="mapDiv" style="width: 100%; height: 85vh"/>
</template>

<script>

import {Loader} from '@googlemaps/js-api-loader'
import {mapState, mapActions} from 'vuex';

const GOOGLE_MAPS_API_KEY = 'AIzaSyCXTibKAAEBiTONKMM0Lt-JcIJR4tu_vaQ'

export default {
    name: "MapListing2",
    computed: {
        //del modulo, usar variable
        ...mapState('marker', ['markers'])
    },
    props: {
        properties: Object
    },
    methods: {
        ...mapActions('marker', ['addMarkerX', 'clearMarkersX']),
    },
    mounted() {
        const loader = new Loader({
            apiKey: GOOGLE_MAPS_API_KEY,libraries:['places']
        })

        let that = this
        let map = null
        let clickListener = null
        const mapDiv = this.$refs.mapDiv
        this.clearMarkersX()


        //crea instancia del mapa
        loader.load().then(() => {
            map = new google.maps.Map(mapDiv, {
                //centrado en CDMX
                center: {
                    lat: 19.432550,
                    lng: -99.133186
                },
                zoom: 2
            })
            //transformo de object a array
            let list = Object.keys(this.properties).map(key => {
                return this.properties[key]
            })
            getMarkers(list)
        })


        function getMarkers(properties) {
            //inicilizar centrador
            const bounds = new google.maps.LatLngBounds();
            //revisar custom popups
            let uniqueInfoWin = new google.maps.InfoWindow();

            for (let i = 0; i < properties.length; i++) {
                const p = properties[i];
                /*
                const infoWindow = new google.maps.InfoWindow({
                    content: templateInfoWin(p)
                });*/
                const pos = {
                    lat: parseFloat(p.lat),
                    lng: parseFloat(p.lng),
                }
                //creo un marcador por cada propiedad
                const marker = new google.maps.Marker({
                    //recibe la posicion
                    position: pos,
                    //el mapa donde se va a cargar el marcado
                    map: map,
                    //titulo del marcador extraido de la propiedad
                    title: p.name,
                    /*
                    animation: google.maps.Animation.DROP,*/
                });
                //agrego el marcador a mi array marker
                that.addMarkerX(marker)
                //agrego el evento del click
                that.markers[i].addListener("click", () => {
                    //infoWindow.open(map, that.markers[i])
                    uniqueInfoWin.setContent(templateInfoWin(p))
                    uniqueInfoWin.open(map, that.markers[i])
                });

                if (p.public_gps == "0") {
                    new google.maps.Circle({
                        strokeColor: "#FF0000",
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: "#FF0000",
                        fillOpacity: 0.35,
                        map: map,
                        center: pos,
                        //por redondeo se desfasa un poco, se agregan 7 para mitigar el problema
                        radius: 5007,
                    })
                }
                //cerrar todos los infowindows al hacer click en el mapa
                clickListener = map.addListener('click', () => {
                    //infoWindow.close()
                    uniqueInfoWin.close()
                });
                //agrega la posicion a la lista para que el mapa abarque todos los puntos
                bounds.extend(pos);
            }
            //testing(bounds)


            //centrar mapa en la lista de marks
            map.fitBounds(bounds);
        }

        function templateInfoWin(r) {
            const template = `
            <h2>${r.name}</h2>
            <img class="infoImage" src="storage/${r.cover != null ? r.cover.url : '404image.jpg'}">
            <br>
            <a class="text-blue-600 no-underline hover:underline"
                href="https://www.google.com/maps/search/${r.lat},${r.lng}">
                Ver en Google Maps</a>
            `;
            return template;
        }
    }
}
</script>

<style scoped>


.infoImage {
}
</style>

<style>
.infoImage {
    object-fit: cover;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
</style>
