<template>
    <div ref="mapDiv" style="width: 100%; height: 85vh"/>
    <button @click="triggerMap">abrir marcador 2</button>
    <div>markers{{ markers }}test{{ JSON.stringify(test) }}</div>
    {{ arr }}
</template>

<script>
/* eslint-disable no-undef */
import {computed, ref, onMounted, onUnmounted, watch} from 'vue'
import {useGeolocation} from './useGeolocation'
import {Loader} from '@googlemaps/js-api-loader'


import randomLocation from 'random-location';

const GOOGLE_MAPS_API_KEY = 'AIzaSyCXTibKAAEBiTONKMM0Lt-JcIJR4tu_vaQ'

export default {
    name: "MapListing",
    props: {
        properties: Object
    },
    methods: {
        triggerMap() {
            console.log('triger map')
            //google.maps.event.trigger(this.markers[2], 'click');
        },
    },

    setup(props) {
        const loader = new Loader({apiKey: GOOGLE_MAPS_API_KEY})
        const mapDiv = ref(null)
        let map = ref(null)
        let clickListener = null
        let markers = ref([])
        let test = ref([])
        const arr = ref(["a", "b", "c"]);

        //crea instancia del mapa
        loader.load().then(() => {
            map.value = new google.maps.Map(mapDiv.value, {
                //centrado en CDMX
                center: {
                    lat: 19.432550,
                    lng: -99.133186
                },
                zoom: 2
            })
            //transformo de object a array
            let list = Object.keys(props.properties).map(key => {
                return props.properties[key]
            })
            getMarkers(list)
            console.log('markers')
            console.log(markers)
            console.log(test)
            arr.value.push("d")
            console.log(arr)
        })


        function getMarkers(properties) {
            console.log(properties)
            //inicilizar centrador
            const bounds = new google.maps.LatLngBounds();
            for (let i = 0; i < properties.length; i++) {
                const p = properties[i];
                const infoWindow = new google.maps.InfoWindow({
                    content: templateInfoWin(p)
                });
                const pos = {
                    lat: parseFloat(p.lat),
                    lng: parseFloat(p.lng),
                }
                const marker = new google.maps.Marker({
                    //markers.value[i] = new google.maps.Marker({
                    position: pos,
                    map: map.value,
                    title: p.name,
                    /*
                    animation: google.maps.Animation.DROP,*/
                });
                test.value.push(i)
                markers.value.push(marker)

                //marker.addListener("click", () => {
                markers.value[i].addListener("click", () => {
                    infoWindow.open(map.value, markers.value[i]);
                });

                if (p.public_gps == "0") {
                    new google.maps.Circle({
                        strokeColor: "#FF0000",
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: "#FF0000",
                        fillOpacity: 0.35,
                        map: map.value,
                        center: pos,
                        //por redondeo se desfasa un poco, se agregan 7 para mitigar el problema
                        radius: 5007,
                    })
                }
                //cerrar todos los infowindows al hacer click en el mapa
                clickListener = map.value.addListener(
                    'click',
                    () => infoWindow.close()
                );
                //agrega la posicion a la lista para que el mapa abarque todos los puntos
                bounds.extend(pos);
            }
            //testing(bounds)


            //centrar mapa en la lista de marks
            map.value.fitBounds(bounds);
        }

        function templateInfoWin(r) {
            const template = `
            <div>
                <p class="font-black">Dirección</p>
                ${r.name}
                <br>
                <a class="text-blue-600 no-underline hover:underline"
                href="https://www.google.com/maps/search/${r.lat},${r.lng}">
                Ver en Google Maps</a>
                <i class="fab fa-accessible-icon"></i>
            </div>
            <br>
            <img src="storage/${r.cover.url}" width="50px">
            `;
            return template;
        }


        return {mapDiv, markers, test, arr}
    }
}
</script>

<style scoped>

</style>
