<template>
    <layout>
        <div class="w-full lg:w-8/12 px-4">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
                <div class="rounded-t bg-white mb-0 px-6 py-6">
                    <div class="text-center flex justify-between">
                        <h6 class="text-blueGray-700 text-xl font-bold">
                            Información de Contacto
                        </h6>
                    </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <form @submit.prevent="submitForm">
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Datos
                        </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-6/12 px-4 pt-4">
                                <div class="relative w-full mb-3">
                                    <span style="width: 100%" class="p-float-label p-input-icon-left">
                                        <i class="pi pi-phone"></i>
                                        <InputMask v-model="phoneMask" mask="99-99-99-99-99"></InputMask>
                                        <label>Teléfono</label>
                                    </span>

                                    <!--                                    <InputMask type="hidden" v-model="query.phone" mask="9999999999"/>-->
                                    <div class="text-red-500" v-for="error in v$.query.phone.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                </div>
                            </div>

                            <div class="w-full lg:w-6/12 px-4 pt-4">
                                <div class="relative w-full mb-3">
                                    <span style="width: 100%" class="p-float-label p-input-icon-left">
                                        <i class="pi pi-twitter"></i>
                                        <InputText v-model="query.twitter"></InputText>
                                        <label>twitter.com/</label>
                                    </span>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                </div>
                            </div>

                            <div class="w-full lg:w-6/12 px-4 pt-4">
                                <div class="relative w-full mb-3">
                                    <span style="width: 100%" class="p-float-label p-input-icon-left">
                                        <i class="pi pi-facebook"></i>
                                        <InputText v-model="query.facebook"></InputText>
                                        <label>facebook.com/</label>
                                    </span>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                </div>
                            </div>

                            <div class="w-full lg:w-6/12 px-4 pt-4">
                                <div class="relative w-full mb-3">
                                    <span style="width: 100%" class="p-float-label p-input-icon-left">
                                        <i class="pi pi-envelope"></i>
                                        <InputText v-model="query.mail"></InputText>
                                        <label>e-mail</label>
                                    </span>
                                    <div class="text-red-500" v-for="error in v$.query.mail.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                </div>
                            </div>

                            <div class="w-full lg:w-6/12 px-4 pt-4">
                                <div class="relative w-full mb-3">
                                    <span style="width: 100%" class="p-float-label p-input-icon-left">
                                        <i class="pi pi-comment"></i>
                                        <InputMask v-model="whatsMask" mask="99-99-99-99-99"></InputMask>
                                        <label>WhatsApp</label>
                                    </span>
                                    <div class="text-red-500" v-for="error in v$.query.whatsapp.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                </div>
                            </div>

                            <div class="w-full lg:w-6/12 px-4 pt-4">
                                <div class="relative w-full mb-3">
                                    <span style="width: 100%" class="p-float-label p-input-icon-left">
                                        <i class="pi pi-globe"></i>
                                        <InputText v-model="query.web"></InputText>
                                        <label>Página Web</label>
                                    </span>
                                    <div class="text-red-500" v-for="error in v$.query.web.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button
                            class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                            type="submit">
                            Guardar Cambios
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </layout>
</template>

<script>
import Layout from "./Layout";

import InputNumber from 'primevue/inputnumber';
import InputText from 'primevue/inputtext';
import InputMask from 'primevue/inputmask';

import useVuelidate from '@vuelidate/core'
import {url, email, helpers, numeric, minLength, maxLength} from '@vuelidate/validators'
import Swal from "sweetalert2";


export default {
    name: "Contact",
    components: {
        Layout,
        InputNumber,
        InputText,
        InputMask
    },
    setup() {
        return {v$: useVuelidate()}
    },
    validations() {
        return {
            query: {
                phone: {
                    numeric: helpers.withMessage('Solo números', numeric),
                    minLength: helpers.withMessage('Debe ser de 10 digidtos', minLength),
                    maxLength: helpers.withMessage('Debe ser de 10 digidtos', maxLength)
                },
                whatsapp: {
                    numeric: helpers.withMessage('Solo números', numeric),
                    minLength: helpers.withMessage('Debe ser de 10 digidtos', minLength),
                    maxLength: helpers.withMessage('Debe ser de 10 digidtos', maxLength)
                },
                mail: {
                    email: helpers.withMessage('Debe tener formato de e-mail', email)
                },
                web: {
                    url: helpers.withMessage('Debe ser un URL', url)
                },
            }
        }
    },
    props: {
        contact: Object,
    },
    watch: {
        phoneMask: function (val) {
            this.query.phone = val.replace(/\D/g, "");
        },
        whatsMask: function (val) {
            this.query.whatsapp = val.replace(/\D/g, "");
        },

    },
    data() {
        return {
            query: {},
            phoneMask: null,
            whatsMask: null
        }
    },
    methods: {
        submitForm() {
            console.log('submitform')
            this.v$.$touch()
            if (!this.v$.$invalid) {
                axios.put(route('api.contact.update', this.contact.id), this.query)
                    .then(res => {
                        console.log(res)
                        console.log('actualizado')
                    })
                    .catch(err => {
                        console.log(err)
                        console.log(err.data)
                    })
            } else {
                Swal.fire({
                    title: 'Error al crear!',
                    html: 'Revisa que toda la información haya sido completada de manera correcta',
                    icon: 'error',
                })
            }
        },
    },
    created() {
        this.query = this.contact
        this.whatsMask = this.contact.whatsapp
        this.phoneMask = this.contact.phone
    },
}
</script>

<!--Cuidado con el orden del style-->

<style>


.p-inputtext {
    width: 100%;
}
</style>

<style scoped>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";

</style>
