<template>
    <div>
        <sidebar/>
        <div class="relative md:ml-64 bg-blueGray-100">
            <admin-navbar/>
            <!--            Header-->
            <div class="relative bg-emerald-600 md:pt-32 pb-32 pt-12">
                <div class="px-4 md:px-10 mx-auto w-full">
                </div>
            </div>
            <div class="px-4 md:px-10 mx-auto w-full -m-24">


                <div class="flex flex-wrap">
                    <slot/>
                </div>

                <!--                <router-view/>-->
                <!--                <footer-admin/>-->
            </div>
        </div>
    </div>
</template>

<script>
import '@fortawesome/fontawesome-free/js/brands.min';
import '@fortawesome/fontawesome-free/js/solid.min';
import '@fortawesome/fontawesome-free/js/fontawesome.min';
import '@fortawesome/fontawesome-free/js/regular.min';
import AdminNavbar from "@/components/Navbars/AdminNavbar.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";

export default {
    name: "Layout",
    components: {
        Sidebar,
        AdminNavbar
    },
    methods: {
        logout() {
            this.$inertia.post(route('logout'));
        },
    },
}
</script>

<style>
@import "../../../../css/tailwindnotus.css";

</style>

<style scoped>

</style>
