<template>
    <layout>
        <div class="w-full lg:w-8/12 px-4">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
                <div class="rounded-t bg-white mb-0 px-6 py-6">
                    <div class="text-center flex justify-between">
                        <h6 class="text-blueGray-700 text-xl font-bold">{{ user.name }}</h6>
                    </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        Roles
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-12/12 px-4">
                            <div class="relative w-full mb-3">
                                <label
                                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Selecciona los roles deseados para {{ user.name }}
                                </label>
                                <div v-for="role of rolesAll" :key="role.key" class="p-field-checkbox">
                                    <Checkbox :id="role.key" name="role" :value="role"
                                              v-model="roles"/>
                                    <label :for="role.key">{{ role.name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button
                        class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        @click="changeRoles">
                        Guardar los Roles
                    </button>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../Layout";

import Checkbox from 'primevue/checkbox';
import Swal from "sweetalert2";

export default {
    name: "Edit",
    components: {
        Layout,
        Checkbox
    },
    props: {
        user: Object,
        rolesAll: Array,
    },
    data() {
        return {
            roles: [],
            request: {
                roles: []
            }
        }
    },
    methods: {
        changeRoles() {
            this.request.roles = []
            this.roles.forEach(role => {
                this.request.roles.push(role.name)
            })
            Swal.fire({
                title: 'Estas seguro?',
                html: `${this.user.name} ahora sera: ${this.rolesText(this.request.roles)}`,
                showCancelButton: true,
                confirmButtonColor: '#10b981',
                confirmButtonText: `Save`,
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit()
                }
            })
        },
        rolesText(roles) {
            let text = ''
            roles.forEach(role => {
                text += role + " - "
            })
            console.log(text)
            return text.slice(0, -3)
        },
        submit() {
            axios.put(route('api.user.update', this.user), this.request)
                .then(res => {
                    Swal.fire('Se han guardado los roles', '', 'success')
                })
        }
    },
    mounted() {
        this.roles = this.rolesAll.filter(ra => {
            let keep = false
            this.user.roles.every(ur => {
                if (ra.name == ur.name) {
                    keep = true
                    return false
                }
                return true
            })
            return keep
        })
    }
}
</script>

<style>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
</style>

<style scoped>
</style>
