<template>
    <!--    <inertia-head title="Your page title" />-->
    <layout>
        <div class="w-full lg:w-8/12 px-4">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
                <div class="rounded-t bg-white mb-0 px-6 py-6">
                    <div class="text-center flex justify-between">
                        <h6 class="text-blueGray-700 text-xl font-bold">Propiedades</h6>
                    </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        Lista
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-12/12 px-4">
                            <div class="relative w-full mb-3">
                                <DataTable :value="usersData">
                                    <Column field="name" header="Nombre"/>
                                    <Column field="roles" header="Roles">
                                        <template #body="{data}">
                                            {{ rolesText(data.roles) }}
                                        </template>
                                    </Column>
                                    <Column header="Acciones">
                                        <template #body="{data,index}">
                                            <br>
                                            {{ data.id }}
                                            <inertia-link :href="route('controlpanel.user.edit',data.id)">
                                                <button class="btn-yellow">Editar <i class="fas fa-edit"></i></button>
                                            </inertia-link>
                                            <br>
                                            <button
                                                @click="deleteUser(data.id,data.name,index)"
                                                class="btn-red">Eliminar <i
                                                class="fas fa-trash-alt"></i>
                                            </button>
                                        </template>
                                    </Column>
                                </DataTable>
                                <el-pagination
                                    style="display: flex; margin-bottom: 36px"
                                    background
                                    layout="prev, pager, next"
                                    :current-page="users.current_page"
                                    :hide-on-single-page=true
                                    :page-size="users.per_page"
                                    @current-change="paginate"
                                    :total="users.total">
                                </el-pagination>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </layout>
</template>

<script>
import Layout from "../Layout"

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

import Swal from 'sweetalert2';
import {Inertia} from "@inertiajs/inertia";

import {ElPagination, locale} from 'element-plus';
import lang from 'element-plus/lib/locale/lang/es'

locale(lang)

export default {
    name: "Index",
    components: {
        Layout,
        DataTable, Column,
        ElPagination
    },
    props: {
        users: Object,
    },
    data() {
        return {
            usersData: [],
        }
    },
    methods: {
        rolesText(roles) {
            let text = ''
            roles.forEach(role => {
                text += role.name + " - "
            })
            return text.slice(0, -3)
        },
        deleteUser(id, name, index) {
            Swal.fire({
                title: '¿Seguro que deseas eliminar a ' + name + '?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Eliminar'
            }).then(res => {
                if (res.isConfirmed) {
                    axios.delete(route('api.user.delete', id))
                        .then(res => {
                            console.log(res.data)
                            Swal.fire(name + 'Eliminado')
                            this.usersData.splice(index, 1)
                        })
                        .catch(err => {
                            console.log(err)
                            console.log(err.data)
                        })
                }
            })
        },
        paginate(page) {
            Inertia.get(route('controlpanel.user.index'), {'page': page})
        },
        objToArray(obj) {
            //doble index - por probar
            let array = Object.keys(obj).map(function (index, val) {
                return obj[index]
            })
            return array
        },

    },
    mounted() {
        //empezando del 0 y consecutivo es array
        //empezando diferente de 0 y NO consecutivo es object
        if (this.users.data instanceof Array) {
            this.usersData = this.users.data
        } else this.usersData = this.objToArray(this.users.data)
    }
}
</script>

<style lang="postcss">
.btn-blue {
    @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded;
}

.btn-red {
    @apply bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded;
}

.btn-yellow {
    @apply bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded;
}
</style>

<style scoped>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
@import '~element-plus/lib/theme-chalk/index.css';
</style>

