<template>
    <bienvenidos-layout>
        <!-- Hero Section Begin -->
        <section class="hero set-bg" :style="background">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero__text">
                            <div class="section-title">
                                <h2>Encuentra Tu Nuevo Bien</h2>
                                <p>Hay {{ count }} propiedades listadas en nuestro sitio.</p>
                            </div>


                            <div class="hero__search__form">
                                <!--uso por slug-->
                                <form @submit.prevent="buscar(query, 'domestico')" v-if="categoria==1">
                                    <!--hogar-->
                                    <Dropdown class="select__option" style="width: 13%;" v-model="query.estado"
                                              :options="estados"
                                              @change="estadoChange"
                                              optionLabel="abrev" :filter="true"
                                              placeholder="Estado">
                                        <template #value="slotProps">
                                            <div v-if="slotProps.value">{{ slotProps.value.abrev }}</div>
                                            <span v-else>
                                                {{ slotProps.placeholder }}
                                            </span>
                                        </template>
                                        <template #option="slotProps">
                                            <div>{{ slotProps.option.name }}</div>
                                        </template>
                                    </Dropdown>
                                    <Dropdown class="select__option" style="width: 30%" v-model="query.municipio"
                                              :options="municipios"
                                              optionLabel="name" :filter="true"
                                              placeholder="Municipio"/>

                                    <Dropdown class="select__option" style="width: 21%" v-model="query.selHa"
                                              :options="habitaciones"
                                              optionLabel="name" :filter="true"
                                              placeholder="Habitaciones">
                                        <template #value="slotProps">
                                            <div v-if="slotProps.value">{{ slotProps.value.name }}</div>
                                            <span v-else>
                                                <i class="fas fa-bed"></i> {{ slotProps.placeholder }}
                                            </span>
                                        </template>
                                        <template #option="slotProps">
                                            <div>{{ slotProps.option.name }}</div>
                                        </template>
                                    </Dropdown>


                                    <span class="p-input-icon-left select__option"
                                          style="width: 21%;display: inline-flex">
                                        <i class="pi pi-dollar"/>
                                        <InputText type="text" v-model="query.precio" placeholder="Precio Maximo"/>
                                    </span>
                                    <!--
                                    <button type="submit">Buscar</button>-->
                                    <!-- 15% de width-->
                                    <Button type="submit" style="justify-content: center">Buscar</Button>

                                </form>


                                <form @submit.prevent="buscar(query, 'comercial')" v-if="categoria==2">
                                    <!--hogar-->
                                    <Dropdown class="select__option" style="width: 13%;" v-model="query.estado"
                                              :options="estados"
                                              @change="estadoChange"
                                              optionLabel="abrev" :filter="true"
                                              placeholder="Estado">
                                        <template #value="slotProps">
                                            <div v-if="slotProps.value">{{ slotProps.value.abrev }}</div>
                                            <span v-else>
                                                {{ slotProps.placeholder }}
                                            </span>
                                        </template>
                                        <template #option="slotProps">
                                            <div>{{ slotProps.option.name }}</div>
                                        </template>
                                    </Dropdown>
                                    <Dropdown class="select__option" style="width: 30%" v-model="query.municipio"
                                              :options="municipios"
                                              optionLabel="name" :filter="true"
                                              placeholder="Municipio"/>

                                    <Dropdown class="select__option" style="width: 21%" v-model="query.habitaciones"
                                              :options="habitaciones"
                                              optionLabel="name" :filter="true"
                                              placeholder="Habitaciones">
                                        <template #value="slotProps">
                                            <div v-if="slotProps.value">{{ slotProps.value.name }}</div>
                                            <span v-else>
                                                <i class="fas fa-bed"></i> {{ slotProps.placeholder }}
                                            </span>
                                        </template>
                                        <template #option="slotProps">
                                            <div>{{ slotProps.option.name }}</div>
                                        </template>
                                    </Dropdown>


                                    <span class="p-input-icon-left select__option"
                                          style="width: 21%;display: inline-flex">
                                        <i class="pi pi-dollar"/>
                                        <InputText type="text" v-model="query.precio" placeholder="Precio Maximo"/>
                                    </span>
                                    <!--
                                    <button type="submit">Buscar</button>-->
                                    <!-- 15% de width-->
                                    <Button type="submit" style="justify-content: center">Buscar</Button>

                                </form>
                            </div>

                            <ul class="hero__categories__tags">
                                <li><a href="#" @click="categoria=1">
                                    <span style="color: #c02034"><i class="fas fa-home"/></span> Hogar</a></li>
                                <li><a href="#" @click="categoria=2">
                                    <span style="color: #7fc441"><i class="fas fa-store"/></span> Negocio</a></li>
                                <li><a href="#"><img src="storage/img/hero/cat-3.png" alt=""> Shopping</a></li>
                                <li><a href="#"><img src="storage/img/hero/cat-4.png" alt=""> Beauty</a></li>
                                <li><a href="#"><img src="storage/img/hero/cat-5.png" alt=""> Hotels</a></li>
                                <li><a href="#"><img src="storage/img/hero/cat-6.png" alt=""> All Categories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
    </bienvenidos-layout>
</template>

<script>
import BienvenidosLayout from "../BienvenidosLayout";
import Dropdown from "primevue/dropdown";
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';


import {Inertia} from '@inertiajs/inertia'

export default {
    name: "Index",
    components: {
        Button,
        InputText,
        BienvenidosLayout,
        Dropdown,
    },
    props: {
        count: Number,
    },
    data() {
        return {
            background: String,
            coverImage: "storage/img/hero/hero-bg.jpg",
            categoria: 1,
            query: {
                estado: null,
                municipio: null,
                selHa: null,
                precio: null,
            },

            estados: [],
            municipios: [],
            habitaciones: [
                {name: '1+', value: 1},
                {name: '2+', value: 2},
                {name: '3+', value: 3},
                {name: '4+', value: 4},
                {name: '5+', value: 5},
                {name: '6+', value: 6},
                {name: '7+', value: 7},
                {name: '8+', value: 8},
                {name: '9+', value: 9},
            ],
        }
    },
    methods: {
        currencyFormater(value) {
            return new Intl.NumberFormat('en-US', {style: 'currency', currency: ''}).format(value);
        },
        buscar(q, uso) {
            console.log(q)
            let params = {}

            /*
            let hab = (q.habitacion == null ? null : q.habitacion);
            let precio = (q.precio == null ? null : q.precio);
            let municipio = (q.municipio == null ? null : q.municipio.id);
            let estado = (q.estado == null ? null : q.estado.id);

            const params = {
                hab, precio, municipio, estado, uso
            }*/
            if (q.habitacion != null) params.habitaciones = q.habitaciones
            if (q.precio != null) params.precio = q.precio
            if (q.municipio != null) params.municipio = q.municipio
            if (q.estado != null) params.estado = q.estado
            params.uso = uso
            console.log(params)

            Inertia.get('buscar', params)
            /*
            axios.get('buscar', {params})
                .then(res => {
                    console.log(res.data)
                })
                .catch(err => {
                    console.log(err)
                    console.log(err.data)
                })*/
        },
        estadoChange(newEstado) {
            this.query.municipio = ""
            this.municipios = []
            // this.query.localidad = ""
            // this.localidades = []
            axios.get(`api/estado/${newEstado.value.slug}`)
                .then(res => {
                        this.municipios = res.data
                    }
                )
                .catch(err => {
                        console.log(err)
                        console.log(err.data)

                    }
                )
        },

        municipioChange(newMun) {
            this.query.localidad = ""
            this.localidades = []
            axios.get(`api/estado/${this.query.estado.slug}/${newMun.value.slug}`)
                .then(res => {
                        console.log(res.data[0])
                    }
                )
        },
    },
    mounted() {
        this.background = 'background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + this.coverImage + ')'
        axios.get('api/estado')
            .then(
                res => {
                    this.estados = res.data;
                }
            )
    },
}
</script>

<style scoped>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";

</style>

<style>

.hero__search__form form input {
    width: 100%;
}

/*
border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
 */
.p-dropdown {
    padding: .75rem;
}

.p-inputtext {
    padding: unset;
}

.hero__search__form {
    contain: content;
}

img {
    display: inline;
}
</style>
