<template>
    <bienvenidos-layout :normal="true">
        <!-- Filter Begin -->
        <div class="filter nice-scroll" :style="[showFilter ? {'display':'unset'} : {'display': 'none'}]">
            <div class="filter__title">
                <h5><i class="fa fa-filter"></i> Filter
                    <button @click="showFilter=!showFilter" class="cerrar">
                        <i class="fas fa-times fa-lg"></i></button>
                </h5>
            </div>
            <div class="filter__tags">
                <p><i class="fas fa-map-marker-alt"></i> Lugar</p>
                <Dropdown style="width: 100%;" v-model="estado"
                          :options="estados"
                          @change="estadoChange"
                          optionLabel="name" :filter="true"
                          placeholder="Estado"/>
                <Dropdown style="width: 100%;" v-model="municipio"
                          :options="municipios"
                          @change="municipioChange"
                          optionLabel="name" :filter="true"
                          placeholder="Municipio"/>
            </div>
            <div class="line"></div>
            <div class="filter__tags">
                <p><i class="fas fa-file-invoice-dollar"></i> Contrato</p>
                <MultiSelect class="w-100" :options="statuses" v-model="selectedStatuses" optionLabel="name"
                             optionGroupLabel="label"
                             optionGroupChildren="items"
                             placeholder="Contrato"
                             display="chip"/>
            </div>
            <div class="line"></div>
            <div class="filter__tags">
                <p><i class="fas fa-th-list"></i> Categoría</p>
                <MultiSelect class="w-100" v-model="selectedCategories" :options="categories"
                             optionLabel="name"
                             placeholder="Categoría"
                             display="chip"/>
            </div>
            <!--
            <div class="filter__radius">
                <p><i class="fas fa-bullseye"></i> Radio:
                    <text class="slider-highlight">{{ radius }}km</text>
                </p>
                <Slider v-model="radius" :step="5" :min="5" :max="50"/>
            </div>-->
            <div class="line"></div>
            <div class="filter__price">
                <p><i class="fas fa-dollar-sign"></i> Precio:</p>
                <div class="input-price">
                    <p class="m-0">Min:</p>
                    <InputNumber v-model="priceRange[0]" mode="decimal" locale="en-US"
                                 :minFractionDigits="2"/>
                </div>
                <div class="input-price">
                    <p class="m-0">Max:</p>
                    <InputNumber v-model="priceRange[1]" mode="decimal" locale="en-US"
                                 :minFractionDigits="2"/>
                </div>
                <br>
                <Slider v-model="priceRange" :range="true" :min="0"
                        :max="maxvalprop"
                        :step="1000"/>
            </div>
            <div class="line"></div>
            <div class="filter__tags">
                <p><i class="fas fa-tools"></i> Instalaciones</p>
                <MultiSelect class="w-100" v-model="selectedFacilities" :options="facilities" optionLabel="name"
                             placeholder="Instalaciones"
                             display="chip"/>
                <div v-if="request.uso=='domestico'">
                    <p><i class="fas fa-bed"></i> Habitaciones</p>
                    <Dropdown class="w-100" style="width: 21%" v-model="selectedHabitacion"
                              :options="habitaciones"
                              optionLabel="name" :filter="true"
                              placeholder="Habitaciones">
                        <template #value="slotProps">
                            <div v-if="slotProps.value">{{ slotProps.value.name }}</div>
                            <span v-else>
                        <i class="fas fa-bed"></i> {{ slotProps.placeholder }}
                        </span>
                        </template>
                        <template #option="slotProps">
                            <div>{{ slotProps.option.name }}</div>
                        </template>
                    </Dropdown>
                </div>
            </div>
            <div class="filter__btns">
                <button @click="filter" type="submit">Filtrar Resultados</button>
                <button @click="cleanFilter" type="submit" class="filter__reset"><i class="pi pi-filter-slash"/> Quitar
                    Filtros
                </button>
                <button @click="showFilter=!showFilter" type="submit" class="filter__reset"><i class="fas fa-times"></i>
                    Cerrar
                </button>
            </div>
        </div>
        <!-- Filter End -->

        <!-- Listing Section Begin -->
        <section class="listing nice-scroll results">
            <div class="listing__text__top">
                <div class="listing__text__top__left">
                    <h5>Bienes</h5>
                    <span>{{ properties.total }} Resultados Encontrado</span>


                </div>

                <div class="listing__text__top__right">
                    <Button type="button" icon="fas fa-sort-down" iconPos="right" label="Ordenar" @click="toggle"
                            aria-haspopup="true" aria-controls="overlay_menu"/>
                    <Menu id="overlay_menu" ref="menu" :model="items" :popup="true"/>
                    <!--
                            <Button type="button" icon="fas fa-sort-down" iconPos="right" label="Ordenar" @click="toggle"
                                    aria-haspopup="true"
                                    aria-controls="overlay_tmenu"/>
                            <TieredMenu id="overlay_tmenu" ref="menu" :model="items" :popup="true"/>-->
                </div>
            </div>
            <div class="listing__list">
                <!--                Doble index debido a que si empieza en 0 y es consecutivo lo detecta como Array
                                    pero si empieza diferente de 0 y NO es consecutivo, lo detecta como Object-->
                <div v-for="(property,index0,index1) in properties.data" class="listing__item"
                     @mouseover="openInfoWin(index0,index1)">
                    <div class="listing__item__pic set-bg"
                         :style="[property.cover !=null ?
                          {'background-image':'url(storage/'+property.cover.url+')'}:
                          {'background-image':'url(storage/404image.jpg)'}] "
                         style="background-position: center"
                         data-setbg="storage/img/listing/list-1.jpg">
                        <div v-if="property.visits==popular" class="listing__item__pic__tag">Popular</div>
                        <div class="listing__item__pic__btns">


                            <div class="magnific-gallery">
                                <a v-for="(image,index) in property.images" class="hover:text-blue-500"
                                   :style="index==0 ? '' : 'display:none'" :href="'../storage/'+image.url">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>

                            <!--
                            <a class="hover:text-blue-500" :href="'../storage/'+property.cover.url"><i
                                class="fas fa-search-plus"></i></a>
                            <div class="magnific-gallery" v-for="(image,index) in property.images">
                                <a style="display:none;" :href="'../storage/'+image.url"></a>
                            </div>
                            -->
                            <a class="hover:text-red-500" href="#"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="listing__item__text">
                        <div class="listing__item__text__inside">
                            <h5>
                                <inertia-link :href="route('property.show',property)">{{ property.name }}</inertia-link>
                            </h5>
                            <div class="listing__item__text__rating">
                                <!--<i v-for="fac in property.facilities" :class="fac.icon" style="margin-right: 4px"></i>-->
                                <text v-for="fac in property.facilities" style="margin-right: 4px">
                                    <i :class="fac.icon"></i> {{ fac.pivot.count != "-1" ? fac.pivot.count : "" }}
                                </text>
                                <i class="fas fa-th"/> {{ property.metros2 }}m<sup>2</sup>
                                <h6>{{ currencyFormater(property.value) }}</h6>
                            </div>
                            <ul>
                                <li><span class="fas fa-map-marker-alt icon-details"></span>
                                    {{ property.calle ? property.calle + ', ' : '' }}
                                    {{ property.colonia ? property.colonia + ', ' : '' }}
                                    <inertia-link class="font-black hover:text-red-500"
                                                  :href="route('estado.municipio',[property.estado,property.municipio])">
                                        {{ property.municipio.name }},
                                    </inertia-link>
                                    <inertia-link class="font-black hover:text-red-500"
                                                  :href="route('estado.show',property.estado)">
                                        {{ property.estado.name }}
                                    </inertia-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <el-pagination
                style="display: flex; margin-bottom: 36px"
                background
                layout="prev, pager, next, sizes"
                :current-page="properties.current_page"
                :hide-on-single-page=true
                :page-size="properties.per_page"
                @current-change="paginate"
                :page-sizes="[10,15,20]"
                @size-change="handleSizeChange"
                :total="properties.total">
            </el-pagination>
            <button @click="showFilter=!showFilter" class="flotante"><i class="fas fa-filter"></i> Filtrar</button>
        </section>
        <!-- Listing Section End -->

        <!-- Map Begin -->
        <div class="listing__map">
            <!--<map-listing :properties="properties.data"></map-listing>-->
            <map-listing2 :properties="properties.data"></map-listing2>
        </div>
        <!-- Map End -->
    </bienvenidos-layout>
</template>

<script>
import BienvenidosLayout from "../BienvenidosLayout";

import Slider from 'primevue/slider';
import MultiSelect from 'primevue/multiselect';
import InputNumber from 'primevue/inputnumber';
import Button from 'primevue/button';
import Menu from 'primevue/menu';
import Dropdown from "primevue/dropdown";

import {ElPagination, locale} from 'element-plus';
import lang from 'element-plus/lib/locale/lang/es'

import qs from 'qs';

locale(lang)

import {Inertia} from "@inertiajs/inertia";
import MapListing2 from "../Maps/MapListing2";

import {mapState} from 'vuex'

window.$ = window.jQuery = require('jquery')
import 'magnific-popup';

export default {
    name: "Listing",
    components: {
        MapListing2,
        BienvenidosLayout,
        InputNumber,
        Slider,
        MultiSelect,
        Button,
        Menu,
        Dropdown,
        ElPagination
    },
    props: {
        //aqui recibo lo mandado por el controlador de lavarel, con inertia render
        request: Object,
        properties: Object,
        maxvalprop: Number,
        facilities: Object,
        categories: Object,
    },
    methods: {
        loadMagnific() {
            $('.magnific-gallery').each(function () { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                });
            });
        },
        openInfoWin(a, b) {
            if (b != null) {
                google.maps.event.trigger(this.markers[b], 'click');
            } else {
                google.maps.event.trigger(this.markers[a], 'click');
            }
        },
        handleSizeChange(size) {
            this.pageSize = size;
            this.paginate(this.page)
        },
        paginate(page) {
            this.request.page = page
            Inertia.get('buscar', this.request)
        },
        currencyFormater(value) {
            return new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format(value);
        },
        toggle(event) {
            this.$refs.menu.toggle(event);
        },
        filter() {
            this.requestData = {
                uso: this.request.uso
            }
            if (this.estado != null) this.requestData.estado = this.estado.id
            if (this.municipio != null) this.requestData.municipio = this.municipio.id
            if (this.priceRange[0] != 0) this.requestData.preciomin = this.priceRange[0]
            if (this.priceRange[1] != this.maxvalprop) this.requestData.precio = this.priceRange[1]
            if (this.selectedFacilities.length != 0) {
                let selFa = []
                for (let i = 0; i < this.selectedFacilities.length; i++) {
                    //console.log(this.selectedFacilities[i].slug)
                    selFa.push(this.selectedFacilities[i].slug)
                }
                this.requestData.selFa = selFa
            }
            if (this.selectedCategories.length != 0) {
                let selCa = []
                for (let i = 0; i < this.selectedCategories.length; i++) {
                    selCa.push(this.selectedCategories[i].slug)
                }
                this.requestData.selCa = selCa
            }
            if (this.selectedStatuses.length != 0) {
                let selSta = []
                for (let i = 0; i < this.selectedStatuses.length; i++) {
                    selSta.push(this.selectedStatuses[i].slug)
                }
                this.requestData.selSta = selSta
            }
            if (this.selectedHabitacion != null) this.requestData.selHa = this.selectedHabitacion.value
            if (this.request.ordenar != null) this.requestData.ordenar = this.request.ordenar

            //const paramsSerialized=qs.stringify(this.requestData)
            console.log('peticion de filtrado')
            console.log(this.requestData)

            //console.log(this.requestData)
            Inertia.get('buscar', this.requestData)
        },
        cleanFilter() {
            this.priceRange[0] = 0;
            this.priceRange[1] = this.maxvalprop;
            this.estado = null;
            this.municipio = null;
            this.selectedFacilities = [];

        },
        estadoChange(newEstado) {
            axios.get(`api/estado/${newEstado.value.slug}`)
                .then(res => {
                    this.municipios = res.data
                })
                .catch(err => {
                    console.log(err)
                    console.log(err.data)

                })
        },

        municipioChange(newMun) {
            axios.get(`api/estado/${this.estado.slug}/${newMun.value.slug}`)
                .then(res => {
                        console.log(res.data[0])
                        this.gps = res.data[0]
                    }
                )
        },
        selectDropFa() {
            this.selectedFacilities = this.facilities.filter(facility => {
                let keep = false
                //checa cada selFa y lo mantiene en selected facilities
                this.request.selFa.every(sf => {
                    if (facility.slug == sf) {
                        keep = true
                        //break a for - como false a every
                        return false
                    }
                    //indicar que debe continuar
                    return true
                })
                return keep
            })
        },
        selectDropCa() {
            this.selectedCategories = this.categories.filter(category => {
                let keep = false
                //checa cada selCa y lo mantiene en selected Categories
                this.request.selCa.every(sc => {
                    if (category.slug == sc) {
                        keep = true
                        //break a for - como false a every
                        return false
                    }
                    //indicar que debe continuar
                    return true
                })
                return keep
            })
        },
        selectDropSta() {
            let statuses = []
            //aplanar lista de los statuses agrupados (disponibles,culminados)
            for (let i = 0; i < this.statuses.length; i++) {
                this.statuses[i].items.forEach(item => {
                    statuses.push(item)
                })
            }
            this.selectedStatuses = statuses.filter(status => {
                let keep = false
                this.request.selSta.every(ss => {
                    if (ss == status.slug) {
                        keep = true
                        return false
                    }
                    return true
                })
                return keep
            })
        },
        selectDropHa() {
            this.selectedHabitacion = this.habitaciones.find(hab => hab.value === parseInt(this.request.selHa))
        },
        getPopular() {

            /* //FORMA ALTERNA
            const indices = Object.keys(this.properties.data)
            for (let index of indices) {*/
            for (let index in this.properties.data) {
                let propertyVisitis = this.properties.data[index].visits
                if (this.popular < propertyVisitis) {
                    this.popular = propertyVisitis
                }
            }
        }
    },
    mounted() {
        if (this.request.selCa != undefined) this.selectDropCa()
        if (this.request.selFa != undefined) this.selectDropFa()
        if (this.request.selSta != undefined) this.selectDropSta()
        if (this.request.selHa != undefined) this.selectDropHa()

        this.getPopular()

        this.loadMagnific();
        this.requestData = this.request
        if (this.request.precio != null) {
            this.priceRange[1] = parseFloat(this.request.precio)
        } else {
            this.priceRange[1] = this.maxvalprop
        }
        axios.get('api/estado')
            .then(res => {
                    this.estados = res.data;
                }
            )
    },
    computed: {
        ...mapState('marker', ['markers'])
    },
    data() {
        return {
            indice: 0,
            //radius: 5,
            //regresar a false terminando de modificar el filtro
            showFilter: false,
            priceRange: [0, 5000000],
            requestData: Object,

            popular: 0,
            estado: null,
            municipio: null,
            selectedHabitacion: null,
            /*
            gps: {
                lat: 0,
                lng: 0
            },*/
            precio: null,

            habitaciones: [
                {name: '1+', value: 1},
                {name: '2+', value: 2},
                {name: '3+', value: 3},
                {name: '4+', value: 4},
                {name: '5+', value: 5},
                {name: '6+', value: 6},
                {name: '7+', value: 7},
                {name: '8+', value: 8},
                {name: '9+', value: 9},
            ],
            statuses: [
                {
                    label: 'Disponibles',
                    items: [
                        {name: 'Venta', slug: 'en-venta'},
                        {name: 'Renta', slug: 'en-renta'},
                    ],

                },
                {
                    label: 'Culminados',
                    items: [
                        {name: 'Vendido', slug: 'vendido'},
                        {name: 'Rentando', slug: 'rentando'},
                    ],

                }],
            selectedFacilities: [],
            selectedCategories: [],
            selectedStatuses: [],
            estados: [],
            municipios: [],
            items: [
                {
                    label: 'Precio',
                    items: [
                        {
                            label: 'Menor Primero',
                            icon: 'fas fa-sort-numeric-down',
                            command: () => {
                                let sortRequest = this.request
                                sortRequest.ordenar = 'menorprecio'
                                Inertia.get('buscar', sortRequest)
                            }
                        },
                        {
                            label: 'Mayor Primero',
                            icon: 'fas fa-sort-numeric-down-alt',
                            command: () => {
                                let sortRequest = this.request
                                sortRequest.ordenar = 'mayorprecio'
                                Inertia.get('buscar', sortRequest)
                            }
                        }
                    ]
                },/*
                {
                    label: 'Distancia',
                    items: [

                        {
                            label: 'Más Cerca',
                            icon: 'far fa-dot-circle',
                            //url: 'https://vuejs.org/'
                        },
                        {
                            label: 'Más Lejos',
                            icon: 'fas fa-bullseye',
                            command: () => {
                                window.location.hash = "/fileupload"
                            }
                        }
                    ]
                }*/
            ]
        }
    }
}
</script>

<style scoped>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
@import '~element-plus/lib/theme-chalk/index.css';

.icon-details {
    color: #A8A8A8;
    position: absolute;
    left: 0;
    top: 5px;
}

.listing__item__text__rating h6 {
    font-size: 32px;
}

.listing__text__top__left {
    line-height: 42px;
}

.listing__text__top {
    margin-bottom: 0px;
    padding: 10px;
}

.input-price {
    align-items: baseline;
}

.slider-highlight {
    color: #f03250;
    font-weight: 600;
    font-size: 15px;
    background: transparent;
    border: none;
}

/*se extiende la visualizacion*/
.results {
    overflow: auto;
    height: 100vh;
}

/*quitando padding donde deberian estar los filtros para dejar más espacio de visualizacion*/
.ov-hid {
    padding-left: 0px;
}

.cerrar {
    float: right;
}

.flotante {
    position: sticky;
    bottom: 20px;
    left: 20px;
    z-index: 98;
    font-size: 18px;

    outline: none;
    background-color: #f03250;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 9999px;
}

.nice-scroll {
    overflow-y: auto;
}

</style>

<style>
@import "~magnific-popup/dist/magnific-popup.css";
/*para modificar magnific pop up*/
.mfp-close {
    height: 100px;
    font-size: 100px;
}

/*mostrar imagenes en fullscreen sin romper relacion aspecto*/
img.mfp-img {
    width: 9999px;
    height: 9999px;
    object-fit: contain;
}

.mfp-figure:after {
    box-shadow: none;
    background: none;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #f03250;
    color: #FFF;
}

/*
.p-button:enabled:hover {
    background: #f03250;
    color: #ffffff;
    border-color: #f03250;
}

.p-button{
    background: #f03250;
    border: 1px solid #f03250;
}*/

.p-button {
    background: #f03250;
    border: 1px solid #f03250;
}

.p-button:enabled:hover {
    background: #f01f3e;
    color: #ffffff;
    border-color: #f01f3e;
}

.line {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f0909e;
}

/*saturado f01f3e*/


/*cambair color input box*/
.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem #f0909e;
    border-color: #f03250;
}

.p-inputtext:enabled:hover {
    border-color: #f03250;
}

.p-inputtext {
    color: #f03250;
    font-weight: 600;
    font-size: 15px;
}

/*cambiar color slider*/
.p-slider .p-slider-range {
    background: #f03250;
}

.p-slider .p-slider-handle {
    border: 2px solid #f03250;
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
    background: #f03250;
    border-color: #f03250;
}
</style>
