<template>
    <div>
        esto era property index
        <div v-for="property in pagination.data">
            <inertia-link :href="route('property.show',property)">
                {{ property.name }}
            </inertia-link>
        </div>
        <el-pagination
            background
            layout="total, prev, pager, next, sizes"
            :current-page="pagination.current-page"
            :hide-on-single-page=true
            :page-size="pagination.per_page"
            @current-change="paginate"
            :page-sizes="[10,15,20]"
            @size-change="handleSizeChange"
            :total="pagination.total">
        </el-pagination>
    </div>
</template>

<script>

import {ElPagination, locale} from 'element-plus';
import lang from 'element-plus/lib/locale/lang/es'

locale(lang)

export default {
    name: "PaginacionTest",
    components: {
        ElPagination,
    },
    data() {
        return {
            page: 1,
            pageSize: 10,
            pagination: Object,
        }
    },
    methods: {
        handleSizeChange(size) {
            this.pageSize = size;
            this.paginate(this.page)
        },
        paginate(page) {
//            axios.get('/paginate?page=' + page)
            axios.get(`/paginate/${this.pageSize}?page=` + page)

                .then(res => {
                    console.log(res);
                    this.pagination = res.data;
                    this.page = page;
                })
                .catch(err => {
                    console.log(err)
                })
        }
    },
    mounted() {
        this.paginate(this.page);
    }
}
</script>

<style>
@import '~element-plus/lib/theme-chalk/index.css';

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #f03250;
    color: #FFF;
}
</style>
