<template>
    <!-- Page Preloder -->
    <!--
    <div id="preloder">
        <div class="loader"></div>
    </div>
-->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
            <div class="flex flex-wrap">
                <div class="lg:w-1/4 pr-4 pl-4 md:w-1/4 pr-4 pl-4">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="lg:w-3/4 pr-4 pl-4 md:w-3/4 pr-4 pl-4">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./index.html">Home</a></li>
                                <li class="active"><a href="./listing.html">Listing</a></li>
                                <li><a href="#">Categories</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="relative">
                                        <li><a href="./about.html">About</a></li>
                                        <li><a href="./listing-details.html">Listing Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./contact.html">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="#">Shop</a></li>
                            </ul>
                        </nav>
                        <div class="header__menu__right">
                            <a href="#" class="primary-btn"><i class="fa fa-plus"></i> Add Listing</a>
                            <a href="#" class="login-btn"><i class="fa fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Listing Section Begin -->
    <section class="listing-hero set-bg"
             :style="background">
        <div class="container mx-auto sm:px-4">
            <div class="flex flex-wrap ">
                <div class="lg:w-2/3 pr-4 pl-4">
                    <div class="listing__hero__option">
                        <div class="listing__hero__icon">
                            <img src="img/listing/details/ld-icon.png" alt="">
                        </div>
                        <div class="listing__hero__text">
                            <h2>{{ property.name }}</h2>
                            <div class="listing__hero__widget">
                            </div>
                            <p><i class="fas fa-map-marker-alt"></i> {{ property.calle }} {{ property.num_ext }},
                                <text v-if="property.num_int !== null">{{ property.num_int }},</text>
                                {{ property.colonia }}, {{ property.CP }}, {{ property.localidad_id }}, {{ localidad }},
                                {{ estado }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 pr-4 pl-4">
                    <div class="listing__hero__btns">
                        <a href="#" class="primary-btn share-btn"><i class="fas fa-share"></i> Share</a>
                        <a href="#" class="primary-btn"><i class="far fa-bookmark"></i> Bookmark</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Section End -->

    <!-- Listing Details Section Begin -->
    <section class="listing-details spad">
        <div class="container mx-auto sm:px-4">
            <div class="flex flex-wrap ">
                <div class="lg:w-2/3 pr-4 pl-4">
                    <div class="listing__details__text">
                        <div class="listing__details__about">
                            <h4>Descripción</h4>
                            <p>Entries from over 70 countries cover every imaginable space; From ships to airports,
                                museums to burger vans, from revered Michelin-starred establishments to the fleeting
                                dynamism of pop-ups.</p>
                            <p>The judges are the most influential global personalities from hospitality, design and
                                lifestyle media and have previously included the Editor in Chief of Wallpaper*, Marcus
                                Wareing and Thomas Heatherwick.
                                The Awards are followed by over 40,000 of the most influential architects, designers,
                                hospitality professionals and lifestyle media from around the globe.</p>
                        </div>
                        <div class="listing__details__gallery">
                            <h4>Gallery</h4>
                            aqui iria el carrousel
                        </div>
                        <div class="listing__details__amenities">
                            <h4>Instalaciones</h4>
                            <div class="flex flex-wrap ">
                                <div v-for="facility in facilities">
                                    <div class="lg:w-1/4 pr-4 pl-4 md:w-1/4 pr-4 pl-4 w-1/2">
                                        <div class="listing__details__amenities__item">
                                            <i :class="facility.icon"></i>
                                            <h6>{{ facility.name }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 pr-4 pl-4">
                    <div class="listing__sidebar">
                        <div class="listing__sidebar__contact">
                            <div class="listing__sidebar__contact__text">
                                <h4>Contacts</h4>
                                <ul>
                                    <li><span class="icon_pin_alt"></span> 236 Littleton St. New Philadelphia, Ohio,
                                        United States
                                    </li>
                                    <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                                    <li><span class="icon_mail_alt"></span> Info.colorlib@gmail.com</li>
                                    <li><span class="icon_globe-2"></span> https://colorlib.com</li>
                                </ul>
                                <div class="listing__sidebar__contact__social">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="listing__sidebar__working__hours">
                            <h4>Working Hours</h4>
                            <ul>
                                <li>Monday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Tuesday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Wednesday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Thursday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Friday <span class="opening">Opening</span></li>
                                <li>Saturday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Saturday <span class="closed">Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container mx-auto sm:px-4">
            <div class="flex flex-wrap ">
                <div class="lg:w-1/4 pr-4 pl-4 md:w-1/2 pr-4 pl-4">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Challenging the way things have always been done can lead to creative new options that reward
                            you.</p>
                    </div>
                </div>
                <div class="lg:w-1/3 pr-4 pl-4 lg:mx-1/6 md:w-1/2 pr-4 pl-4">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <span>Call Us:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>Email:</span>
                                <p>info.colorlib@gmail .com</p>
                            </li>
                            <li>
                                <span>Fax:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>Connect Us:</span>
                                <div class="footer__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:w-1/4 pr-4 pl-4 lg:mx-1/6 md:w-1/2 pr-4 pl-4">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">How it work</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">How it Work</a></li>
                            <li><a href="#">Advantages</a></li>
                            <li><a href="#">Direo App</a></li>
                            <li><a href="#">Packages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap ">
                <div class="lg:w-full pr-4 pl-4">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__links">
                            <a href="#">Terms</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Cookie Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

</template>


<script>
import '@fortawesome/fontawesome-free/js/brands.min';
import '@fortawesome/fontawesome-free/js/solid.min';
import '@fortawesome/fontawesome-free/js/fontawesome.min';
import '@fortawesome/fontawesome-free/js/regular.min';

export default {
    name: "Show",
    props: {
        property: Object,
        facilities: Array,
        images: Array,
        estado: String,
        localidad: String,
    },
    data() {
        return {
            coverImage: '../storage/' + this.images[0].url,
//            background: 'background-image: url(../storage/' + this.images[0].url + ')',
            background: '',

        }
    },
    mounted() {
        this.background = 'background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + this.coverImage + ')'
    }
}
</script>

<style scoped>

</style>
