<template>

    <bienvenidos-layout>

        <!-- Listing Section Begin -->
        <section class="listing-hero set-bg" :style="background">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="listing__hero__option">
                            <div class="listing__hero__text">
                                <h2>{{ property.name }}</h2>
                                <h3> {{ currencyFormater(property.value) }}</h3>

                                <p style="color: #FFFFFF"><i class="fas fa-map-marker-alt"></i>
                                    {{ property.calle ? property.calle + ' ' : '' }}
                                    {{ property.num_ext ? property.num_ext + ', ' : '' }}
                                    {{ property.num_int ? property.num_int + ', ' : '' }}
                                    {{ property.colonia ? property.colonia + ', ' : '' }}
                                    {{ property.CP ? 'CP ' + property.CP + ', ' : '' }}
                                    {{ localidad ? localidad + ', ' : '' }}
                                    <inertia-link class="font-black hover:text-red-500"
                                                  :href="route('estado.municipio',[estado,municipio])">
                                        {{ municipio.name }},
                                    </inertia-link>
                                    <inertia-link class="font-black hover:text-red-500"
                                                  :href="route('estado.show',estado)">
                                        {{ estado.name }}
                                    </inertia-link>
                                </p>
                                <div class="listing__hero__widget">
                                    <div><i class="fas fa-th"/>
                                        {{ property.metros2 }} m<sup>2</sup>
                                    </div>
                                </div>
                                <div class="listing__hero__widget">
                                    <div><i class="fas fa-eye"></i>
                                        {{
                                            property.visits === 1 ? property.visits + ' visita' : property.visits + ' visitas'
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="listing__hero__btns">
                            <a href="#" class="primary-btn share-btn hover:text-red-500 hover:no-underline"><i
                                class="fas fa-share"></i> Share</a>
                            <a href="#" class="primary-btn hover:text-red-500 hover:bg-white hover:no-underline"><i
                                class="fas fa-bookmark"></i> Bookmark</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Listing Section End -->
        <!--
        <vueper-slides bullets-outside :dragging-distance="50">
            <vueper-slide
                v-for="(slide, i) in slides"
                :key="i"
                :image="slide.image"/>
        </vueper-slides>
    -->
        <!-- Listing Details Section Begin -->
        <section class="listing-details spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="listing__details__text">
                            <div class="listing__details__gallery">
                                <h4>Galería</h4>
                                <!--<Carousel :items-to-show="2.5" :wrap-around="true">-->
                                <Carousel class="shadow-2xl m-1 md:m-0" :wrap-around="true">
                                    <Slide v-for="(image,index) in images" :key="index">
                                        <div class="carousel__item" v-bind:style="{ 'background-image': 'url(../storage/' + image.url + ')',
                                        'background-size': 'cover' ,
                                        'background-position': 'center'}">
                                            <a :href="route('storage')+'/'+image.url" class="img-gal"
                                               :style="{'width':'100%','height':'100%'}">
                                                <!--                                                <img class="carousel__image" :src="'../storage/'+image.url" alt="">-->
                                            </a>
                                        </div>

                                    </Slide>

                                    <template #addons>
                                        <Navigation/>
                                        <Pagination/>
                                    </template>
                                </Carousel>
                                <!--
                                <div class="listing__details__gallery__pic">
                                    <div class="listing__details__gallery__item">
                                        <img class="listing__details__gallery__item__large"
                                             :src="'../storage/img/listing/details/listing-details-1.jpg'" alt="">
                                        <span><i class="fa fa-camera"></i> 170 Image</span>
                                    </div>
                                    <div class="listing__details__gallery__slider owl-carousel">
                                        <img data-imgbigurl="img/listing/details/listing-details-1.jpg"
                                             :src="'../storage/img/listing/details/thumb-1.jpg'" alt="">
                                        <img data-imgbigurl="img/listing/details/listing-details-1.jpg"
                                             :src="'../storage/img/listing/details/thumb-2.jpg'" alt="">
                                        <img data-imgbigurl="img/listing/details/listing-details-1.jpg"
                                             :src="'../storage/img/listing/details/thumb-3.jpg'" alt="">
                                        <img data-imgbigurl="img/listing/details/listing-details-1.jpg"
                                             :src="'../storage/img/listing/details/thumb-4.jpg'" alt="">
                                    </div>
                                </div>
                                -->
                            </div>

                            <div class="listing__details__about">
                                <h4>Ubicación</h4>
                                <Location :public_gps="property.public_gps" :lat="property.lat" :lng="property.lng"/>
                            </div>

                            <div class="listing__details__about">
                                <h4>Descripción</h4>
                                <div class="unreset" v-html="property.description"></div>
                            </div>
                            <div class="listing__details__amenities">
                                <h4>Instalaciones</h4>
                                <div class="justify-content-center row">
                                    <div v-for="facility in facilities">
                                        <div class="col-12">
                                            <div class="listing__details__amenities__item">
                                            <span style="color: #707070">
                                                <i class="inline-block fa-3x" :class="facility.icon"></i>
                                            </span>
                                                <h6>{{
                                                        facility.pivot.count != -1 ? facility.pivot.count + ' ' : ''
                                                    }}{{ facility.name }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="inline-block listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-2.png'" alt="">
                                            <h6>Free Wifi</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-3.png'" alt="">
                                            <h6>Smoking Area</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-4.png'" alt="">
                                            <h6>Free Parking</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-5.png'" alt="">
                                            <h6>Family Friendly</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-6.png'" alt="">
                                            <h6>Coffee</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-7.png'" alt="">
                                            <h6>Massage</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="listing__details__amenities__item">
                                            <img :src="'../storage/img/listing/details/amenities/ame-8.png'" alt="">
                                            <h6>Coupons</h6>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="listing__sidebar mb-4">
                            <div class="listing__sidebar__contact">
                                <!--
                                <div class="listing__sidebar__contact__map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24168.833995532765!2d-74.79633710628465!3d40.78172222265886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c384de7a5300b9%3A0x8afc61979217d49d!2sLong%20Valley%2C%20NJ%2007853%2C%20USA!5e0!3m2!1sen!2sbd!4v1586852528126!5m2!1sen!2sbd"
                                        height="200" style="border:0;" allowfullscreen="" aria-hidden="false"
                                        tabindex="0"></iframe>
                                    <img :src="'../storage/img/listing/details/map-icon.png'" alt="">
                                </div>
                                -->
                                <div class="listing__sidebar__contact__text">
                                    <h4>Contacto</h4>
                                    <ul>
                                        <li v-if="contact.phone"><span><i class="fas fa-phone-alt"></i></span>
                                            <a :href="'tel:'+contact.phone">{{ phoneFormater(contact.phone) }}</a>

                                        </li>
                                        <li v-if="contact.mail"><span><i class="far fa-envelope"></i></span>
                                            <a :href="'mailto:'+contact.mail"> {{ contact.mail }}</a>
                                        </li>
                                        <li v-if="contact.web"><span><i class="fas fa-globe"></i></span> <a
                                            :href="contact.web">{{ contact.web }}</a></li>
                                    </ul>
                                    <div class="listing__sidebar__contact__social">
                                        <a v-if="contact.facebook" :href="'https://www.facebook.com/'+contact.facebook"
                                           class="facebook"><i
                                            class="fab fa-facebook-f"></i></a>
                                        <!--<a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>-->
                                        <a v-if="contact.twitter" :href="'https://twitter.com/'+contact.twitter"
                                           class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a v-if="contact.whatsapp"
                                           :href="'https://api.whatsapp.com/send?phone=521'+contact.whatsapp"
                                           class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                                        <!--<a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- Listing Details Section End -->
    </bienvenidos-layout>

</template>


<script>

//carousel
import {Pagination, Carousel, Navigation, Slide} from 'vue3-carousel';

//import 'vue3-carousel/dist/carousel.css';
window.$ = window.jQuery = require('jquery')
import 'magnific-popup';

import BienvenidosLayout from "../BienvenidosLayout";
import Location from "../Maps/Location";

export default {
    name: "Show",
    components: {
        Location,
        BienvenidosLayout,
        Carousel,
        Slide,
        Pagination,
        Navigation,
    },
    props: {
        property: Object,
        facilities: Array,
        images: Array,
        estado: Object,
        municipio: Object,
        localidad: String,
        contact: Object,
    },
    data() {
        return {
            coverImage: '../storage/' + this.images[0].url,
//          background: 'background-image: url(../storage/' + this.images[0].url + ')',
            background: '',
            slides: [],
        }
    },
    methods: {
        loadMagnific() {
            $('.img-gal').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                },
            });
        },
        phoneFormater(phone) {
            const PNF = require('google-libphonenumber').PhoneNumberFormat;
            const phoneUtil = require('google-libphonenumber').PhoneNumberUtil.getInstance()
            const number = phoneUtil.parseAndKeepRawInput(phone, 'MX');
            return phoneUtil.format(number, PNF.NATIONAL).replace(/\s/g, '-')
            // return phoneUtil.formatInOriginalFormat(number, 'MX')
        },
        currencyFormater(value) {
            return new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format(value);
        },
        visitaPlus() {
            const id = this.property.id
            setTimeout(function () {
                axios.put(`/propiedad/visitas/${id}`)
                    .then(res => {
                        console.log('Gracias por su visita')
                    })
                    .catch(err => {
                        console.log(err)
                        console.log(err.response)
                    })
            }, 10000)
        },
        imagesToSlides() {
            for (let i = 0; i < this.images.length; i++) {
                const sli = {
                    image: '../storage/' + this.images[i].url,
                }
                this.slides.push(sli);
            }
        },

    },
    mounted() {
        this.background = 'background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(240, 50, 80, 0.5)), url(' + this.coverImage + ')';
        this.imagesToSlides();
        this.visitaPlus();
        this.loadMagnific();
    }
}
</script>

<style>

@import "~vue3-carousel/dist/carousel.css";

@import "~magnific-popup/dist/magnific-popup.css";

@import "~unreset-css/dist/unreset.min.css";

/*para el carousel de las imagenes*/

.carousel__item {

    height: 500px;
    width: 100%;
    display: flex;
    font-size: 20px;
    border-radius: .3rem .3rem 0rem 0rem;
    justify-content: center;
    align-items: center;
}

.carousel__viewport {
    border-radius: .3rem .3rem 0rem 0rem;
}


.carousel__image {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel__pagination {
    background: #f03250;
    border-radius: 0rem 0rem .3rem .3rem;
}

.carousel__prev,
.carousel__next {
    background-color: #f03250;
}

/*EL ORDEN IMPORTA EN CAROUSEL*/

.carousel__pagination-button {
    background-color: #f0909e;
}

.carousel__pagination-button--active {
    background-color: #FFFFFF;
}


/*para modificar magnific pop up*/
.mfp-close {
    height: 100px;
    font-size: 100px;
}

/*mostrar imagenes en fullscreen sin romper relacion aspecto*/
img.mfp-img {
    width: 9999px;
    height: 9999px;
    object-fit: contain;
}

.mfp-figure:after {
    box-shadow: none;
    background: none;
}

/*style*/
.set-bg {
    /*se ve mejor con position y center*/
    background-position: center;
}

.listing-hero {
    padding-top: 120px;
}

.listing__sidebar {
    position: sticky;
    top: 25px;
}
</style>

<style scoped>

</style>
