<template>
    <body :class="{'ov-hid':normal}">
    <!-- Page Preloder -->
    <transition name="fade">
        <div v-if="loader" id="preloder">
            <div class="loader"></div>
        </div>
    </transition>
    <!-- Header Section Begin -->
    <header class="header" :class="{'header--normal':normal}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <inertia-link :href="route('property.index')"><img
                            :src="normal?'../storage/img/footer-logo.png':'../storage/img/logo.png'" alt="">
                        </inertia-link>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li :class="{'active':route().current('property.index')}">
                                    <inertia-link :href="route('property.index')">
                                        Inicio
                                    </inertia-link>
                                </li>
                                <li :class="{'active':route().current('estado.index')}">
                                    <inertia-link :href="route('estado.index')">
                                        Lugares
                                    </inertia-link>
                                </li>
                                <li :class="{'active':route().current('property.search')}">
                                    <inertia-link :href="route('property.search')">
                                        Buscar
                                    </inertia-link>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./about.html">About</a></li>
                                        <li><a href="./listing-details.html">Listing Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./contact.html">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="#">Shop</a></li>
                            </ul>
                        </nav>
                        <div class="header__menu__right">
                            <a href="#" class="primary-btn"><i class="fa fa-plus"></i> Publicar</a>
                            <a :href="route('controlpanel.home')" class="login-btn"><i class="fa fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->
    <slot></slot>
    <!-- Footer Section Begin -->
    <footer class="footer bg-red-200" :class="{'no-mostrar':normal}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img :src="'../storage/img/footer-logo.png'" alt=""></a>
                        </div>
                        <p>Challenging the way things have always been done can lead to creative new options that
                            reward
                            you.</p>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <span>Call Us:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>Email:</span>
                                <p>info.colorlib@gmail .com</p>
                            </li>
                            <li>
                                <span>Fax:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>Connect Us:</span>
                                <div class="footer__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-skype"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">How it work</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">How it Work</a></li>
                            <li><a href="#">Advantages</a></li>
                            <li><a href="#">Direo App</a></li>
                            <li><a href="#">Packages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                All rights reserved | This template is made with <span style="color: #f03250;"><i
                                class="fas fa-heart"></i></span> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__links">
                            <a href="#">Terms</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Cookie Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    </body>
</template>

<script>
import '@fortawesome/fontawesome-free/js/brands.min';
import '@fortawesome/fontawesome-free/js/solid.min';
import '@fortawesome/fontawesome-free/js/fontawesome.min';
import '@fortawesome/fontawesome-free/js/regular.min';


export default {
    name: "BienvenidosLayout",
    data() {
        return {
            loader: true,
        }
    },
    props: {
        normal: Boolean,
    },
    methods: {
        autoHide() {
            var that = this;
            setTimeout(function () {
                that.loader = false;
            }, 500);
        },
    },
    mounted() {
        this.autoHide();
    }
}
</script>

<style scoped>

@import "../../../css/template.css";

.no-mostrar {
    display: none;
}

/*borrar para que siempre se vea el menu arriba*/
/*
.header--normal {
    position: inherit;
}*/

/*aun importado no funciona*/
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

/*aunque esten en gris funcionan los fade*/
.fade-leave-active {
    transition: opacity 1s
}

/* .fade-leave-active in <2.1.8 */
.fade-leave-to {
    opacity: 0
}
</style>
