<template>
    esto es estado
    <div v-for="municipio in municipios">

        <inertia-link :href="route('estado.municipio',[estado,municipio])">
            {{ municipio.name }}
        </inertia-link>
    </div>
</template>

<script>
export default {
    name: "Estado",
    props: {
        estado: Object,
        municipios: Array,
    }
}
</script>

<style scoped>

</style>
