<template>
    <div>
        esto es facility
        <div v-for="(facility,index) in facilities">
            {{ facility.name }} <i v-bind:class="facility.icon"></i>
        </div>
    </div>
</template>

<script>
import '@fortawesome/fontawesome-free/js/brands.min';
import '@fortawesome/fontawesome-free/js/solid.min';
import '@fortawesome/fontawesome-free/js/fontawesome.min';
import '@fortawesome/fontawesome-free/js/regular.min';

export default {
    name: "Facility",
    props: {
        facilitiesProp: Array,
    },
    data() {
        return {
            facilities: [],
        }
    },
    created() {
        console.log('created')
        this.facilities = this.facilitiesProp;
    }
}
</script>

<style scoped>

</style>
