<template>
    esto es municipio
    <div v-for="localidad in localidades">
        {{ localidad.name }}
    </div>
</template>

<script>
export default {
    name: "Municipio",
    props: {
        localidades: Array,
    }
}
</script>

<style scoped>

</style>
