<template>
    <bienvenidos-layout :normal="true">
        esto es pais
        <div v-for="estado in estados">
            <inertia-link :href="route('estado.show',estado)">
                {{ estado.name }}
            </inertia-link>
        </div>
    </bienvenidos-layout>
</template>

<script>
import BienvenidosLayout from "./BienvenidosLayout";

export default {
    name: "Pais",
    components: {
        BienvenidosLayout,
    },
    props: {
        estados: Array
    }
}
</script>

<style scoped>

</style>
