<template>
    <nav class="nav-base">
        <div
            class="div-base">
            <!-- Toggler -->
            <button
                class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                type="button"
                v-on:click="toggleCollapseShow('bg-white m-2 py-3 px-6')">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Brand -->
            <!--            <router-link-->
            <!--                class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"-->
            <!--                to="/"-->
            <!--            >-->
            <inertia-link
                class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                :href="route('property.index')">
                Vue Notus
            </inertia-link>


            <!--            </router-link>-->
            <!-- User -->
            <ul class="md:hidden items-center flex flex-wrap list-none">
                <li class="inline-block relative">
                    <notification-dropdown/>
                </li>
                <li class="inline-block relative">
                    <user-dropdown/>
                </li>
            </ul>
            <!-- Collapse -->
            <div
                class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
                :class="collapseShow">
                <!-- Collapse header -->
                <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
                    <div class="flex flex-wrap">
                        <div class="w-6/12">
                            <inertia-link
                                class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                                :href="route('property.index')">
                                Vue Notus
                            </inertia-link>
                            <!--                            </router-link>-->
                        </div>
                        <div class="w-6/12 flex justify-end">
                            <button
                                type="button"
                                class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                                v-on:click="toggleCollapseShow('hidden')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <form class="mt-6 mb-4 md:hidden">
                    <div class="mb-3 pt-0">
                        <input
                            type="text"
                            placeholder="Search"
                            class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"/>
                    </div>
                </form>

                <!-- Navigation -->
                <ul class="ul-navigation">
                    <li class="items-center">
                        <a :href="route('controlpanel.home')"
                           class="a-href"
                           :class="route().current('controlpanel.home')
                                ? 'text-emerald-500 hover:text-emerald-600'
                                : 'text-blueGray-700 hover:text-blueGray-500'">
                            <i class="fas fa-home mr-2 text-sm"
                               :class="[route().current('controlpanel.home') ? 'opacity-75' : 'text-blueGray-300']"></i>
                            Inicio
                        </a>
                    </li>
                </ul>

                <div v-if="is('Admin')">
                    <!-- Divider -->
                    <hr class="my-4 md:min-w-full"/>
                    <!-- Heading -->
                    <h6 class="heading-title">
                        Administrador
                    </h6>

                    <!-- Navigation -->
                    <ul class="ul-navigation">
                        <li class="items-center">
                            <a :href="route('controlpanel.admin.index')"
                               class="a-href"
                               :class="route().current('controlpanel.admin.index')
                                ? 'text-emerald-500 hover:text-emerald-600'
                                : 'text-blueGray-700 hover:text-blueGray-500'">
                                <i class="fas fa-list mr-2 text-sm"
                                   :class="[route().current('controlpanel.admin.index') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Publicaciones
                            </a>
                        </li>
                        <li class="items-center">
                            <a :href="route('controlpanel.user.index')"
                               class="text-xs uppercase py-3 font-bold block"
                               :class="route().current('controlpanel.user.index')
                                ? 'text-emerald-500 hover:text-emerald-600'
                                : 'text-blueGray-700 hover:text-blueGray-500'">
                                <i class="fas fa-users mr-2 text-sm"
                                   :class="[route().current('controlpanel.user.index') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Usuarios
                            </a>
                        </li>
                        <li class="items-center">
                            <a :href="route('controlpanel.role.index')"
                               class="text-xs uppercase py-3 font-bold block"
                               :class="route().current('controlpanel.role.index')
                                ? 'text-emerald-500 hover:text-emerald-600'
                                : 'text-blueGray-700 hover:text-blueGray-500'">
                                <i class="fas fa-users-cog mr-2 text-sm"
                                   :class="[route().current('controlpanel.role.index') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Roles
                            </a>
                        </li>
                    </ul>


                </div>

                <div v-if="is('Editor')">
                    <!-- Divider -->
                    <hr class="my-4 md:min-w-full"/>

                    <!-- Heading -->
                    <h6 class="heading-title">
                        Publicaciones
                    </h6>
                    <!-- Navigation -->
                    <ul class="ul-navigation">
                        <li class="items-center">
                            <a :href="route('property.create')"
                               class="a-href"
                               :class="route().current('property.create')
                    ? 'text-emerald-500 hover:text-emerald-600'
                    : 'text-blueGray-700 hover:text-blueGray-500'">
                                <i class="fas fa-plus icon-class"
                                   :class="[route().current('property.create') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Crear
                            </a>
                        </li>

                        <li class="items-center">
                            <a :href="route('controlpanel.index')"
                               class="a-href"
                               :class="[
                                   route().current('controlpanel.index')
                    ? 'text-emerald-500 hover:text-emerald-600'
                    : 'text-blueGray-700 hover:text-blueGray-500']">
                                <i class="fas fa-list mr-2 text-sm"
                                   :class="[route().current('controlpanel.index') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Mis Publicaciones
                            </a>
                        </li>

                        <li class="items-center">
                            <a :href="route('controlpanel.contact')"
                               class="a-href"
                               :class="[
                                    route().current('controlpanel.contact')
                                    ? 'text-emerald-500 hover:text-emerald-600'
                                    : 'text-blueGray-700 hover:text-blueGray-500']">
                                <i class="far fa-address-card mr-2 text-sm"
                                   :class="[route().current('controlpanel.contact') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Contacto
                            </a>
                        </li>

                        <li class="items-center">
                            <a :href="route('property.index')"
                               class="a-href"
                               :class="[
                                    route().current('property.index')
                                    ? 'text-emerald-500 hover:text-emerald-600'
                                    : 'text-blueGray-700 hover:text-blueGray-500']">
                                <i class="fas fa-map-marked icon-class"
                                   :class="[route().current('property.index') ? 'opacity-75' : 'text-blueGray-300']"></i>
                                Maps
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import NotificationDropdown from "@/components/Dropdowns/NotificationDropdown.vue";
import UserDropdown from "@/components/Dropdowns/UserDropdown.vue";

export default {
    data() {
        return {
            collapseShow: "hidden",
        };
    },
    methods: {
        toggleCollapseShow: function (classes) {
            this.collapseShow = classes;
        },
    },
    components: {
        NotificationDropdown,
        UserDropdown,
    },
};
</script>

<style lang="postcss">
.a-href {
    @apply text-xs uppercase py-3 font-bold block;
}

.heading-title {
    @apply md:min-w-full text-gray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline;
}

.ul-navigation {
    @apply md:flex-col md:min-w-full flex flex-col list-none;
}

.icon-class {
    @apply mr-2 text-sm;
}

.nav-base {
    @apply md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6;
}

.div-base {
    @apply md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto;
}

</style>
