<template>
    <layout>
        <SortImage :propertySlug="property.slug" v-if="editing&&showSortImage"
                   @close="showSortImage=!showSortImage"></SortImage>
        <div class="w-full lg:w-8/12 px-4">
            <div
                class="property-card">
                <div class="rounded-t bg-white mb-0 px-6 py-6">
                    <div class="text-center flex justify-between">
                        <h6 class="text-blueGray-700 text-xl font-bold">
                            <span v-if="editing">Editando Propiedad</span>
                            <span v-else>Nueva Propiedad</span>
                        </h6>
                    </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <form @submit.prevent="submitForm">
                        <!--            <form @submit.prevent="query.post('/propiedad')">-->
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Datos
                        </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Contrato
                                    </label>
                                    <Dropdown class="w-full" v-model="query.status"
                                              :options="statuses"
                                              optionLabel="name"
                                              placeholder="Contrato"/>
                                    <div class="text-red-500" v-for="error in v$.query.status.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                    <!--                            <div class="text-red-500" v-if="query.errors.status">-->
                                    <!--                                Backend - {{ query.errors.status }}-->
                                    <!--                            </div>-->
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Uso
                                    </label>
                                    <Dropdown class="w-full" v-model="query.uso"
                                              :options="usos"
                                              optionLabel="name"
                                              @change="usoChange($event.value)"
                                              :filter="true"
                                              placeholder="Uso"/>
                                    <div class="text-red-500" v-for="error in v$.query.uso.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Categoría
                                    </label>
                                    <Dropdown class="w-full" v-model="query.category"
                                              :options="categories"
                                              optionLabel="name"
                                              placeholder="Categoria"/>
                                    <div class="text-red-500" v-for="error in v$.query.category.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>

                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Nombre
                                    </label>
                                    <input
                                        type="text"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.name"/>
                                    <div class="text-red-500" v-for="error in v$.query.name.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                    <div class="text-red-500" v-if="query.errors.slug=='slug.unique'">
                                        <!--                                Backend - {{ query.errors.slug }}-->
                                        Este nombre ya esta siendo usado
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Valor
                                    </label>
                                    <InputNumber
                                        class="border-0 px-1 py-1 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.value" mode="currency" currency="USD" locale="en-US"/>
                                    <div class="text-red-500" v-for="error in v$.query.value.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Metros Cuadrados
                                    </label>
                                    <InputNumber
                                        class="border-0 px-1 py-1 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.metros2" mode="decimal" :minFractionDigits="1" locale="en-US"
                                        suffix=" m²"/>
                                    <div class="text-red-500" v-for="error in v$.query.value.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-6 border-b-1 border-blueGray-300"/>
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Dirección </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full px-4 mb-3">
                                <label
                                    class="block text-blueGray-600 text-xs font-bold mb-2">
                                    BÚSQUEDA RÁPIDA (Completar y corregir la información de ser necesario)
                                </label>
                                {{ query.location }}
                                <MapLocate :location="mapMountLocation"
                                           @mapPlace="mapPlace" @mapLocation="mapLocation"/>
                                <div class="text-red-500" v-for="error in v$.query.location.$errors"
                                     :key="error.$uid">
                                    {{ error.$message }}
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                        htmlFor="grid-password">
                                        Estado
                                    </label>
                                    <Dropdown class="w-full" v-model="query.estado"
                                              :options="estados"
                                              optionLabel="name"
                                              @change="estadoChange($event.value)"
                                              :filter="true"
                                              placeholder="Estado"/>
                                    <div v-for="error in v$.query.estado.$errors" :key="error.$uid">
                                        <span class="text-red-500">{{ error.$message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                        htmlFor="grid-password">
                                        Municipio
                                    </label>
                                    <!--                            <input-->
                                    <!--                                type="text"-->
                                    <!--                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"-->
                                    <!--                                value="United States"/>-->
                                    <Dropdown class="w-full" v-model="query.municipio"
                                              :options="municipios"
                                              optionLabel="name"
                                              :filter="true"
                                              placeholder="Municipio"/>
                                    <div class="text-red-500" v-for="error in v$.query.municipio.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                        htmlFor="grid-password">
                                        Codigo Postal
                                    </label>
                                    <input
                                        type="text"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.CP"
                                        name="CP"/>
                                    <!--                                pattern="^\d{5}$"/>-->
                                    <!--                            <span class="text-red-600" v-if="v$.query.CP.$invalid">Deben ser 5 digitos</span>-->
                                    <div class="text-red-500" v-for="error in v$.query.CP.$errors"
                                         :key="error.$uid">
                                        {{ error.$message }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Colonia
                                    </label>
                                    <input
                                        type="text"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.colonia"/>
                                    <div v-for="error in v$.query.colonia.$errors" :key="error.$uid">
                                        <span class="text-red-500">{{ error.$message }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="w-full lg:w-4/12 px-4"></div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Calle
                                    </label>
                                    <input
                                        type="text"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.calle"/>
                                    <!--                            <div v-for="error in v$.query.calle.$errors" :key="error.$uid">-->
                                    <!--                                <span class="text-red-500">{{ error.$message }}</span>-->
                                    <!--                            </div>-->
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Num. Ext
                                    </label>
                                    <input
                                        type="text"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.num_ext"/>
                                    <div v-for="error in v$.query.num_ext.$errors" :key="error.$uid">
                                        <span class="text-red-500">{{ error.$message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Num. Int (Opcional)
                                    </label>
                                    <input
                                        type="text"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                        v-model="query.num_int"/>
                                </div>
                            </div>
                            <div class="w-full lg:w-12/12 px-4">
                                <div class="relative w-full mb-3">
                                    <label
                                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Mostrar dirección y ubicación exacta
                                    </label>
                                    <div class="p-field-radiobutton">
                                        <RadioButton id="rad0" name="gps" value="1" v-model="query.public_gps"/>
                                        <label for="rad0">Sí</label>
                                    </div>
                                    <div class="p-field-radiobutton">
                                        <RadioButton id="rad1" name="gps" value="0" v-model="query.public_gps"/>
                                        <label for="rad1">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-6 border-b-1 border-blueGray-300"/>
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Descripción </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                                <div class="relative w-full mb-3">
                                    <div class="unreset">
                                        <!--                                <h1>Esto es H1</h1>-->
                                        <!--                                <h2>Esto es H2</h2>-->
                                        <!--                                <h3>Esto es H3</h3>-->
                                        <!--                                        {{ cleanDescription }}-->
                                        <!--                                        <br>-->
                                        <!--                                        {{ query.description }}-->
                                        <ckeditor :editor="ckeditor" v-model="query.description"
                                                  :config="ckeditorConfig"></ckeditor>
                                    </div>
                                    <div v-for="error in v$.cleanDescription.$errors" :key="error.$uid">
                                        <span class="text-red-500">{{ error.$message }}</span>
                                    </div>
                                    <div class="text-red-500" v-if="query.errors.cleanDescription=='cD.min'">
                                        Backend - Al menos 30 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-6 border-b-1 border-blueGray-300"/>
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Instalaciones </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                                <div class="relative w-full mb-3">
                                    <MultiSelect v-model="query.facilities" :options="facilitiesAll"
                                                 :filter="true"
                                                 class="w-full h-auto"
                                                 optionLabel="name"
                                                 placeholder="Instalaciones"
                                                 display="chip"/>

                                    <span v-if="facValError=='Al menos 1 instalacion'" class="text-red-500">
                                {{ facValError }}</span>
                                    <!--                                    <textarea name="" id="" cols="60" rows="10">  {{ query.facilities }}</textarea>-->

                                    <DataTable :value="query.facilities">
                                        <!--                                el key reincia el componente y arregla el bug del icono-->
                                        <Column :key="query.facilities.length" header="Icono">
                                            <template #body="facility">
                                                <span :class="facility.data.icon" class="fa-2x"></span>
                                            </template>
                                        </Column>
                                        <Column field="name" header="Nombre"></Column>
                                        <Column header="Cantidad">
                                            <template #body="facility">
                                                <div v-if="facility.data.countable=='0'">No aplica</div>
                                                <div v-else>
                                                    <InputNumber showButtons v-model="facility.data.count"
                                                                 mode="decimal"
                                                                 :min="0"
                                                                 :max="100"/>
                                                </div>
                                                <span class="text-red-500"
                                                      v-if="
                                                    facility.data.countable=='1' &&
                                                    facValError=='Especifica la cantidad' &&
                                                    !facility.data.count">
                                                    {{ facValError }}
                                                </span>
                                            </template>
                                        </Column>
                                    </DataTable>
                                </div>
                            </div>
                        </div>
                        <div v-if="!editing">
                            <hr class="mt-6 border-b-1 border-blueGray-300"/>
                            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                                Fotos </h6>
                            <div class="flex flex-wrap">
                                <!--                            <form action=""></form>-->
                                <div class="text-red-500" v-for="error in v$.images.$errors" :key="error.$uid">
                                    {{ error.$message }}
                                </div>
                                <el-upload
                                    ref="elupload"
                                    drag
                                    action="#"
                                    accept=".jpg,.jpeg,.png,.gif"
                                    multiple
                                    :on-change="elUpChange"
                                    :on-success="elUpSuccess"
                                    :http-request="upToServe"
                                    :auto-upload="false"
                                    list-type="picture">
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Arrastrar imagen o <em>Seleccionar una</em></div>
                                    <template #tip>
                                        <div class="el-upload__tip">Se admiten .jpg, .jpeg,.png y .gif</div>
                                    </template>
                                </el-upload>
                            </div>
                        </div>
                        <button
                            class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                            type="submit">
                            Publicar
                        </button>
                        <button
                            v-if="editing"
                            type="button"
                            @click="showSortImage=!showSortImage"
                            class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150">
                            Mostrar Imagenes <i class="far fa-images"></i>
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </layout>
</template>

<script>
import Layout from "../Layout"

import Ckeditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import '@ckeditor/ckeditor5-build-classic/build/translations/es'

import Dropdown from "primevue/dropdown";
import InputNumber from 'primevue/inputnumber';
import MultiSelect from 'primevue/multiselect'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import RadioButton from 'primevue/radiobutton';

import Swal from 'sweetalert2';

import 'element-plus/lib/theme-chalk/index.css';
import {ElUpload, ElButton} from 'element-plus';

import imageCompression from 'browser-image-compression';
import randomLocation from 'random-location';

import useVuelidate from '@vuelidate/core'
import {required, maxLength, minLength, helpers, numeric, decimal, alphaNum} from '@vuelidate/validators'


import MapLocate from "@/Pages/App/Admin/Property/MapLocate";
import SortImage from "@/Pages/App/Admin/Property/SortImage";
import {Inertia} from "@inertiajs/inertia";
import {useForm} from '@inertiajs/inertia-vue3'

export default {
    name: "Create",
    components: {
        Layout,
        MapLocate,
        ckeditor: Ckeditor.component,
        Dropdown,
        InputNumber,
        MultiSelect,
        DataTable,
        Column,
        RadioButton,
        ElUpload,
        ElButton,
        SortImage
    },
    validations() {
        return {
            query: {
                status: {
                    required: helpers.withMessage('Indica el contrato de la propiedad', required)
                },
                uso: {
                    required: helpers.withMessage('Indica el uso de la propiedad', required)
                },
                category: {
                    required: helpers.withMessage('Indica la categoría de la propiedad', required)
                },
                location: {
                    required: helpers.withMessage('Escoje la ubicación de la propiedad', required)
                },
                name: {
                    required: helpers.withMessage('Dale un nombre a la propiedad', required),
                },
                value: {
                    required: helpers.withMessage('Establece un precio a la propiedad', required),
                    decimal: helpers.withMessage('Solo números con decimal', decimal),
                },
                metros2: {
                    required: helpers.withMessage('Establece el área de la propiedad', required),
                    decimal: helpers.withMessage('Solo números con decimal', decimal),
                },
                estado: {
                    required: helpers.withMessage('Debes elegir un estado', required),
                },
                municipio: {
                    required: helpers.withMessage('Debes elegir un municipio', required),
                },
                CP: {
                    required: helpers.withMessage('Escribe el CP', required),
                    minLength: helpers.withMessage('Deben ser 5 digitos', minLength(5)),
                    maxLength: helpers.withMessage('Deben ser 5 digitos', maxLength(5)),
                    numeric: helpers.withMessage('Solo números', numeric)
                },
                colonia: {
                    required: helpers.withMessage('Escribe la colonia', required),
                },
                calle: {
                    required: helpers.withMessage('Escribe la calle', required),
                },
                num_ext: {
                    required: helpers.withMessage('Escribe el número exterior', required),
                }

                //vuelidate version alpha, aun sin validacion de array
                /*
                facilities:
                    every({
                        countable: {
                            required: helpers.withMessage('Especifica la cantidad', required)
                        }
                    })*/
            },
            images: {
                required: helpers.withMessage('Selecciona al menos 3 foto', required),
                minLength: helpers.withMessage('Al menos 3 foto', minLength(3)),
            },

            // images: () => {
            //     if (!this.editing) {
            //         return {
            //             required: helpers.withMessage('Selecciona al menos 3 foto', required),
            //             minLength: helpers.withMessage('Al menos 3 foto', minLength(3))
            //         }
            //     }
            // },
            cleanDescription: {
                required: helpers.withMessage('Agrega una descripción', required),
                minLength: helpers.withMessage('Escribe al menos 30 letras', minLength(30))
            }
        }
    },
    setup() {
        return {v$: useVuelidate()}
    },
    data() {
        return {
            ckeditor: ClassicEditor,
            ckeditorData: '<p>Content of the editor.</p>',
            ckeditorConfig: {
                toolbar: ['heading', '|', 'bold', 'italic', '|', 'bulletedList', 'numberedList',
                    '|', 'outdent', 'indent', '|', 'undo', 'redo'],
                language: 'es',
                // The configuration of the editor.
            },
            query: useForm({
                status: null,
                uso: null,
                category: null,
                name: null,
                value: null,
                metros2: null,
                location: null,
                publicLocation: null,
                public_gps: "0",

                estado: null,
                municipio: null,
                // localidad: null,
                CP: null,
                colonia: null,
                calle: null,
                num_ext: null,
                num_int: null,
                description: '',
                facilities: [],
                images: []
            }),
            images: [],

            mapMountLocation: {
                lat: 19.432550,
                lng: -99.133186
            },
            facValError: '',
            estados: [],
            municipios: [],
            mapMunicipio: null,
            // localidades: [],
            facilitiesAll: [],
            usos: [],
            statuses: [
                {name: 'Venta', slug: 'en-venta'},
                {name: 'Renta', slug: 'en-renta'}
            ],
            categories: [],
            promises: [],
            //devolver a false
            showSortImage: true,

        };
    },
    props: {
        editing: Boolean,
        property: Object,
    },
    created() {
        if (this.editing == true) {
            this.mapMountLocation = {
                lat: parseFloat(this.property.lat),
                lng: parseFloat(this.property.lng)
            }
        }
    },
    async mounted() {
        await this.loadOptions();
        if (this.editing === true) {
            this.statuses = [
                {name: 'Venta', slug: 'en-venta'},
                {name: 'Renta', slug: 'en-renta'},
                {name: 'Vendido', slug: 'vendido'},
                {name: 'Rentando', slug: 'rentando'},
                {name: 'Oculto', slug: 'oculto'},
            ]

            this.images = this.property.images
            this.query = useForm(this.property)
            // console.log(this.query)
            this.query.value = parseFloat(this.property.value)
            this.query.metros2 = parseFloat(this.property.metros2)
            this.query.location = {
                lat: parseFloat(this.property.lat),
                lng: parseFloat(this.property.lng),
            }

            // this.query.uso = this.usos.filter(uso => {
            //     return this.property.category.uso.slug === uso.slug
            // })[0]
            this.query.uso = this.usos.find(uso => {
                return this.property.category.uso.slug === uso.slug
            })
            console.log(this.query.uso)

            this.query.status = this.statuses.find(stat => {
                return this.property.status.slug === stat.slug
            })

            await this.loadCategories(this.query.uso)
            this.mapMunicipio = this.property.municipio.name
            this.loadMunicipios(this.property.estado)


            this.query.category = this.categories.filter(cat => {
                return this.property.category.slug === cat.slug
            })[0]

            this.query.facilities = this.facilitiesAll.filter(fa => {
                let keep = false
                this.property.facilities.every(pf => {
                    if (pf.slug == fa.slug) {
                        fa.count = parseInt(pf.pivot.count)
                        keep = true
                        return false
                    }
                    return true
                })
                return keep
            })
        }
    },
    computed: {
        cleanDescription() {
            let des = this.query.description
            des = des.replace(/<\/?[^>]+(>|$)/g, "")
            des = des.replace(/&\/?[^;]+(;|$)/g, "")
            return des
        },

    },
    watch: {
        // map place
        //estado change
        //load municipios
        // si los municipios cambian
        //poner en el query el municipio que llego del map locate
        municipios: function () {
            console.log('watch municipio')
            console.log(this.mapMunicipio)
            this.query.municipio = this.municipios.find(
                municipio => {
                    return municipio.name === this.mapMunicipio
                })
        },
    },
    methods: {
        async loadOptions() {
            await axios.get(route('api.estado.all'))
                .then(
                    res => {
                        this.estados = res.data;
                    })
            await axios.get(route('api.facility.all'))
                .then(
                    res => {
                        this.facilitiesAll = res.data;
                    })
            await axios.get(route('api.uso.all'))
                .then(
                    res => {
                        this.usos = res.data;
                    })
            return true
        },
        usoChange(newUso) {
            this.query.category = ""
            this.loadCategories(newUso)
        },
        async loadCategories(uso) {
            // this.municipios = []
            await axios.get(route('api.uso.categories', uso.slug))
                .then(res => {
                    this.categories = res.data
                })
                .catch(err => {
                    console.log(err)
                    console.log(err.data)
                })
            return 'oks'
        },
        mapPlace(res) {
            console.log('map place')

            // this.query.localidad = ''
            this.query.num_int = ''

            this.mapMunicipio = res.municipio

            this.query.estado = this.estados.find(
                estado => {
                    if (estado.name === res.estado) {
                        this.estadoChange(estado)
                        return true
                    }
                })
            this.query.num_ext = res.num_ext
            this.query.calle = res.calle
            this.query.colonia = res.colonia
            this.query.CP = res.CP
        },
        mapLocation(res) {
            console.log(res)
            this.query.location = res
        },
        elUpSuccess(res, file, fileList) {
            //forzar siempre ready para siempre comprimir y agregar al array de imagenes
            file.status = 'ready'
        },
        elUpChange(file, fileList) {
            this.images = fileList
            console.log(this.images.length)
        },
        //metodo personalizado el upload, pasa de a uno a uno los archivos
        upToServe(file) {
            const compressOpt = {
                maxSizeMB: 1,
                maxWidthOrHeight: 1920,
                useWebWorker: true,
            }
            console.log('comprimiendo')
            const compressed = imageCompression(file.file, compressOpt)
            this.promises.push(compressed)
            return compressed

        },
        submitForm() {
            this.v$.$touch()
            if (!this.v$.$invalid && this.facilitiesValidator()) {
                this.query.publicLocation = randomLocation
                    .randomCirclePoint({
                        latitude: this.query.location.lat,
                        longitude: this.query.location.lng,
                    }, 5000)
                if (this.editing) {
                    this.update()
                } else this.create()
            } else {
                this.formError()
            }
        },
        update() {
            console.log('actualizando')
            this.put()
        },
        async create() {
            console.log('creando')
            this.promises = []
            this.query.images = []

            Swal.fire({
                title: 'Comprimiendo Imagenes!',
                didOpen: () => {
                    Swal.showLoading();
                },
            })
            console.log('ejecutar el-upload')
            this.$refs.elupload.submit()

            await Promise.all(
                //Forza a todas las promesas ser correctas
                //haciendo que el error pase como resolve
                this.promises.map(p => p.catch(e => e)))
                .then(
                    res => {
                        //el compresor devuelve Blob, todo lo demas son errores
                        //y se filtran del array
                        this.query.images = res.filter(
                            r => {
                                if (r instanceof Blob) {
                                    console.log('es blob')
                                    return true
                                } else return false
                            })
                    })
            this.post()
        },

        post() {
            console.log(this.query.uso)
            this.query.post(route('property.store'), {
                onStart: () => {
                    Swal.fire({
                        title: 'Creando Publicación!',
                        html: '<b id="progressPercent"></b><br>',
                        showCancelButton: true,
                        cancelButtonColor: '#f00',
                        cancelButtonText: 'Cancelar',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading();
                        },
                    }).then(res => {
                        if (res.isDismissed) {
                            this.query.cancel()
                        }
                    })
                },
                onProgress: progress => {
                    try {
                        progressPercent.innerText = progress.percentage + "%"
                    } catch (e) {
                        console.log(e)
                    }
                },
                // onSuccess: () => {
                //     console.log('exitos')
                //     Swal.fire('Publicación Creada')
                // },
                onCancel: () => {
                    Swal.fire('Publicación Cancelada')
                },
                onError: () => {
                    console.log('error')
                    this.formError()
                },
                onFinish: () => {
                    console.log('terminado')
                }
            })
        },
        put() {
            // console.log(this.query.uso)
            console.log(this.query)
            this.query.put(route('property.update', this.property.slug), {
                onStart: () => {
                    Swal.fire({
                        title: 'Actualizando!',
                        html: '<b id="progressPercent"></b><br>',
                        showCancelButton: true,
                        cancelButtonColor: '#f00',
                        cancelButtonText: 'Cancelar',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading();
                        },
                    }).then(res => {
                        if (res.isDismissed) {
                            this.query.cancel()
                        }
                    })
                },
                onProgress: progress => {
                    try {
                        progressPercent.innerText = progress.percentage + "%"
                    } catch (e) {
                        console.log(e)
                    }
                },
                onSuccess: () => {
                    console.log('exitos')
                    Swal.fire('Publicación Editada')
                },
                onCancel: () => {
                    Swal.fire('Publicación Cancelada')
                },
                onError: err => {
                    console.log(err)
                    console.log('error')
                    this.formError()
                },
                onFinish: () => {
                    console.log('terminado')
                }
            })
        },
        formError() {
            Swal.fire({
                title: 'Error al crear!',
                html: 'Revisa que toda la información haya sido completada de manera correcta',
                icon: 'error',
            })
        },
        facilitiesValidator() {
            let valid = true;
            this.facValError = ''

            if (!this.query.facilities.length > 0) {
                this.facValError = 'Al menos 1 instalacion'
                return false
            }

            this.query.facilities.every(
                fac => {
                    //break a for - como false a every
                    if (fac.countable == "0") {
                        fac.count = -1
                    } else {
                        if (!fac.count) {
                            this.facValError = 'Especifica la cantidad'
                            valid = false
                            return false
                        }
                    }
                    return true
                })
            return valid
        },
        estadoChange(newEstado) {
            console.log('estado change')
            this.query.municipio = ""
            this.loadMunicipios(newEstado)
        },
        loadMunicipios(estado) {
            console.log('load municipios')
            // this.municipios = []
            // axios.get(`../api/estado/${newEstado.slug}`)
            axios.get(route('api.estado.municipios', estado.slug))
                .then(res => {
                    this.municipios = res.data
                })
                .catch(err => {
                    console.log(err)
                    console.log(err.data)
                })
        },


    }
}
</script>

<style>
@import "~unreset-css/dist/unreset.min.css";

.p-inputtext {
    width: 100%;
}
</style>

<style scoped>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";

</style>

<style lang="postcss">

.property-card {
    @apply relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-100 border-0;
}

</style>
