<template>
    <!--    <inertia-head title="Your page title" />-->
    <layout>
        <div class="w-full px-4">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
                <div class="rounded-t bg-white mb-0 px-6 py-6">
                    <div class="text-center flex justify-between">
                        <h6 class="text-blueGray-700 text-xl font-bold">Bienvenido al Panel de Control</h6>
                    </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <h6 class="text-blueGray-700 text-xl font-bold mt-3 mb-6">
                        Usted es
                    </h6>
                    <div v-if="is('Editor')">
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Editor
                        </h6>

                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                                <div class="relative w-full mb-3">
                                    Crear publicaciones <br>
                                    Editar Publicaciones <br>
                                    Editar Su Información de Contacto <br>
                                    Eliminar sus Publicaciones
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="is('Admin')">
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Administrador
                        </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                                <div class="relative w-full mb-3">
                                    Cambiar el status de las publicaciones <br>
                                    Eliminar Publicaciones <br>
                                    Cambiar Roles de los usuarios <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </layout>
</template>

<script>
import Layout from "../Layout"

export default {
    name: "Home",
    components: {
        Layout,
    },
    created() {
        console.log(this.$page)
        window.Laravel.jsPermissions = this.$page.props.permissions
    },
}
</script>


