<template>
    <!--    <inertia-head title="Your page title" />-->
    <layout>
        <div class="w-full px-4">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
                <div class="rounded-t bg-white mb-0 px-6 py-6">
                    <div class="text-center flex justify-between">
                        <h6 class="text-blueGray-700 text-xl font-bold">Propiedades</h6>
                    </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        Lista
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-12/12 px-4">
                            <div class="relative w-full mb-3">
                                <DataTable :value="propertiesData">
                                    <Column field="name" header="Nombre"/>
                                    <Column field="address" header="Dirección"/>
                                    <Column field="cover" header="Portada">
                                        <template #body="property">
                                            <div v-if="property.data.cover">
                                                <img class="w-full h-full"
                                                     :src="'../storage/'+property.data.cover.url"
                                                     alt="">
                                            </div>
                                            <div v-else>
                                                <span>Sin Imagen</span>
                                            </div>
                                        </template>
                                    </Column>
                                    <Column field="visits" header="Visitas" headerStyle="width: 8%"/>
                                    <Column header="Estado" headerStyle="width: 10%">
                                        <template #body="property">
                                            {{ property.data.status.name }}
                                        </template>
                                    </Column>
                                    <Column header="Acciones">
                                        <template #body="{data,index}">
                                            {{ index }}
                                            <inertia-link :href="route('property.show',data.slug)">
                                                <button class="btn-blue"> Ver <i class="fas fa-eye"></i></button>
                                            </inertia-link>
                                            <br>
                                            <inertia-link :href="route('property.edit',data.slug)">
                                                <button class="btn-yellow">Editar <i class="fas fa-edit"></i></button>
                                            </inertia-link>
                                            <br>
                                            <button
                                                @click="deleteProperty(data.slug,data.name,index)"
                                                class="btn-red">Eliminar <i
                                                class="fas fa-trash-alt"></i>
                                            </button>
                                        </template>
                                    </Column>
                                </DataTable>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../Layout"

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

import Swal from 'sweetalert2';

export default {
    name: "Index",
    components: {
        Layout,
        DataTable, Column,
    },
    props: {
        properties: Array,
    },
    data() {
        return {
            propertiesData: [],
        }
    },
    methods: {
        getAddress() {
            this.properties.forEach(property => {
                property.address = property.calle + ', ' +
                    property.num_ext + ', ' +
                    (property.num_int ? property.num_int + ', ' : '') +
                    property.colonia + ', ' +
                    property.CP + ', ' +
                    property.municipio.name + ', ' +
                    property.estado.name

            })
        },
        deleteProperty(slug, name, index) {
            let headers = {
                // 'X-CSRF-TOKEN': 'Fe61XPrmzemU65VuEnTrgReEqsXp0vS5fQVMeVXJjuPtCeW1KCi4U0qRfZT6',
                // 'X-CSRF-TOKEN': this.csrf_token,
                // 'X-Requested-With': 'XMLHttpRequest',
                // withCredentials: true,

                // Authorization: 'Bearer ' + this.csrf_token,
                // Authorization: 'Basic ' + this.csrf_token,
                // Authorization: 'token  ' + this.csrf_token
            }
            Swal.fire({
                title: '¿Seguro que deseas eliminar?' + name,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Eliminar'
            }).then(res => {
                if (res.isConfirmed) {
                    axios.delete(route('api.property.delete', slug))
                        .then(res => {
                            console.log(res.data)
                            Swal.fire(name + 'Eliminado')
                            this.propertiesData.splice(index, 1)
                        })
                        .catch(err => {
                            console.log(err)
                            console.log(err.data)
                        })
                }
            })


        }
    },
    mounted() {
        this.getAddress()
        this.propertiesData = this.properties
        /*
                // axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.csrf_token;

                // axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                // let token = document.head.querySelector('meta[name="csrf-token"]');
                // axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;

                // axios.defaults.headers.common = {
                //     'X-Requested-With': 'XMLHttpRequest',
                //     'X-XSRF-TOKEN': this.csrf_token
                // };

                // axios.defaults.headers.common = {
                //     'X-Requested-With': 'XMLHttpRequest',
                //     'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                // }

                // axios.defaults.xsrfHeaderName = this.csrf_token
                // axios.defaults.withCredentials = true

         */
    }
}
</script>

<style lang="postcss">
.btn-blue {
    @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded;
}

.btn-red {
    @apply bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded;
}

.btn-yellow {
    @apply bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded;
}
</style>

<style scoped>
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
</style>
