<template>
    <form @submit.prevent="">
        <input
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            id="place-input" type="text" placeholder="Busqueda rápida"/>
        <!--        <button-->
        <!--            class="border-0 w-1/12 bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase px-3 py-3 rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"-->
        <!--            type="submit"><i class="fas fa-search-location"></i></button>-->
    </form>
    <label
        class="block text-gray-400 mb-2">
        Arrastre el marcador en la ubicación de su propiedad
    </label>
    <!--    <div ref="mapDiv" style="width: 100%; height: 25vh"/>-->
    <div ref="mapDiv" class="w-full h-96"/>
</template>

<script>

import {Loader} from '@googlemaps/js-api-loader'

const GOOGLE_MAPS_API_KEY = 'AIzaSyCXTibKAAEBiTONKMM0Lt-JcIJR4tu_vaQ'

export default {
    name: "MapLocate",
    //solamente para que no aparezca el aviso declarar los emits
    emits: ['mapPlace', 'mapLocation'],
    methods: {
        emitPlace() {
            this.$emit('mapPlace', this.placeResult)
        },
        emitLocation(location) {
            this.$emit('mapLocation', location)
        }
    },
    props: {
        location: Object
    },
    data() {
        return {
            placeResult: {},
        }
    },
    mounted() {
        const loader = new Loader({
            apiKey: GOOGLE_MAPS_API_KEY, libraries: ['places']
        })
        let that = this
        let map = null
        let marker = null
        const mapDiv = this.$refs.mapDiv

        let resul_lat = null
        let resul_lng = null

        loader.load().then(() => {
            // let center = {
            //     // lat: 19.432550,
            //     // lng: -99.133186,
            //     lat: this.lat,
            //     lng: this.lng
            // };

            let center = this.location

            map = new google.maps.Map(mapDiv, {
                //centrado en CDMX
                center: center,
                zoom: 18
            })
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: center
            })

            google.maps.event.addListener(marker, 'dragend', function () {
                resul_lat = marker.getPosition().lat()
                resul_lng = marker.getPosition().lng()
                center = {
                    lat: resul_lat,
                    lng: resul_lng
                }
                centerMap(center)
                //guardar center por arrastre
                //sessionStorage.setItem('center', JSON.stringify(center))
            })


            //autocompletar
            const placeInput = document.getElementById("place-input");
            const options = {
                componentRestrictions: {country: "mx"},
                types: ['geocode']
            }
            const autocomplete = new google.maps.places.Autocomplete(placeInput, options);

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                //obtener el lugar
                let place = autocomplete.getPlace()

                // center = place.geometry.location;
                center = {
                    lat: place.geometry.location.lat(),
                    lng: place.geometry.location.lng()
                }
                //centrar el mapa en el lugar
                centerMap(center)
                //poner marcador en ese lugar
                marker.setPosition(center)
                that.placeResult = {
                    num_ext: '',
                    calle: '',
                    colonia: '',
                    CP: '',
                    municipio: '',
                    estado: '',
                }

                let detalles = place.address_components
                for (let i = 0; i < detalles.length; i++) {
                    var d = detalles[i]
                    switch (d.types[0]) {
                        case "street_number":
                            that.placeResult.num_ext = d.long_name
                            //alert('numero exterior '+d.long_name)
                            break
                        case "route":
                            that.placeResult.calle = d.long_name
                            //alert('numero exterior '+d.long_name)
                            break
                        case "sublocality_level_1":
                            that.placeResult.colonia = d.long_name
                            //alert('la colonia es ' + d.long_name)
                            break
                        case "postal_code":
                            that.placeResult.CP = d.long_name
                            //alert('la colonia es ' + d.long_name)
                            break
                        case "locality":
                            that.placeResult.municipio = d.long_name
                            //alert('municipio es ' + d.long_name)
                            break
                        case "administrative_area_level_1":
                            that.placeResult.estado = d.long_name
                            //alert('estado es ' + d.long_name)
                            break
                        case 'country':
                            //alert('el pais es ' + d.long_name)
                            break
                    }
                }


                that.emitPlace()
            })
        })

        function centerMap(c) {
            map.setCenter(c)
            that.emitLocation(c)
        }

    }
}
</script>

<style scoped>

</style>
