<template>
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!--
              Background overlay, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div
                class="align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center w-full sm:mt-0 sm:ml-4 sm:text-left">
                            <div
                                class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                                <i class="far fa-images text-emerald-500"></i>
                            </div>
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Galería de imagenes
                            </h3>
                            <!--                            <div class="mt-2">-->
                            <!--                                <p class="text-sm text-gray-500">-->
                            <!--                                    Are you sure you want to deactivate your account? All of your data will be-->
                            <!--                                    permanently removed. This action cannot be undone.-->
                            <!--                                </p>-->
                            <!--                            </div>-->
                            <div class="flex">
                                <div class="mt-2 w-1/2">
                                    <h1>Previsualización</h1>
                                    <Carousel class="shadow-2xl mx-6" :wrap-around="true">
                                        <Slide v-for="(image,index) in images" :key="index">
                                            <div class="carousel__item" v-bind:style="backgroundImage(image)">
                                            </div>
                                            <!--                                            <div class="carousel__item" v-bind:style="{ 'background-image': 'url('+route('storage')+'/' + image.url + ')',-->
                                            <!--                                        'background-size': 'cover' ,-->
                                            <!--                                        'background-position': 'center'}">-->
                                            <!--                                            </div>-->
                                        </Slide>

                                        <template #addons>
                                            <Navigation/>
                                            <Pagination/>
                                        </template>
                                    </Carousel>
                                </div>
                                <div class="mt-2 w-1/2">
                                    <button class="py-2 px-4 font-semibold rounded-lg shadow-md text-white "
                                            :class="activeDrag ? 'bg-green-200' :'bg-green-500'"
                                            @click="activeDrag=!activeDrag">
                                        Reordenar
                                    </button>
                                    <button
                                        class="py-2 px-4 font-semibold rounded-lg shadow-md text-white "
                                        :class="!activeDrag ? 'bg-green-200 cursor-not-allowed' :'bg-green-500'"
                                        :disabled="!activeDrag"
                                        @click="newGuardarOrden">
                                        Guardar Orden
                                    </button>

                                    <draggable
                                        :list="images"
                                        :disabled="!activeDrag"
                                        item-key="name"
                                        class="list-group"
                                        ghost-class="ghost"
                                        @start="dragging = true"
                                        @end="dragging = false">
                                        <template #item="{ element,index }">

                                            <div class="list-group-item" :class="{ 'not-draggable': !activeDrag }">
                                                <li class="cursor-move ui-sortable-handle">
                                                    <div class="flex">
                                                        <div class="w-1/3">
                                                            <!--                                                            <img :src="route('storage')+'/'+element.url" width="100">-->
                                                            <div class="w-24 h-24"
                                                                 v-bind:style="backgroundImage(element)"></div>
                                                        </div>
                                                        <div class="w-1/3">
                                                            <div class=""
                                                                 :class="{'opacity-0':!activeDrag}">
                                                                <i class="fas fa-arrows-alt-v fa-2x"></i>
                                                            </div>
                                                        </div>
                                                        <div class="w-1/3">
                                                            <button
                                                                class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded opacity-100"
                                                                @click="deleteImage(element,index)"><i
                                                                class="fas fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </template>
                                    </draggable>
                                </div>
                            </div>
                            <div class="w-full">
                                <el-upload
                                    ref="eluploadModal"
                                    drag
                                    action="#"
                                    accept=".jpg,.jpeg,.png,.gif"
                                    multiple
                                    :http-request="upToServe"
                                    :on-remove="handleRemove"
                                    :on-success="handleSuccess"
                                    :on-error="handleError"
                                    :on-change="handleOnChange"
                                    :auto-upload="false"
                                    list-type="picture">
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Arrastrar imagen o <em>Seleccionar una</em></div>
                                    <template #tip>
                                        <div class="el-upload__tip">Se admiten .jpg, .jpeg,.png y .gif</div>
                                    </template>
                                </el-upload>
                            </div>
                            <div class="w-full">
                                <button
                                    @click="submitUpload"
                                    class="py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 focus:bg-green-700">
                                    Cargar imagenes <i class="fas fa-upload"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button"
                            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 text-base font-medium text-white hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                        Deactivate
                    </button>
                    <button type="button"
                            @click="$emit('close')"
                            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import draggable from 'vuedraggable';

import {ElUpload, ElButton} from 'element-plus';

import {Pagination, Carousel, Navigation, Slide} from 'vue3-carousel';
import imageCompression from "browser-image-compression";
import Swal from "sweetalert2";

export default {
    name: "SortImage",
    components: {
        draggable,
        Pagination, Carousel, Navigation, Slide,
        ElUpload, ElButton
    },
    props: {
        propertySlug: String,
    },
    data() {
        return {
            activeDrag: false,
            images: [],
            filesLength: -1,
            filesTries: 0,
            filesErrors: 0,
            filesUploaded: 0,
            aux: 0,
            percent: 0,
            fileProgress: [],
            refresh: 0,
            progress: {
                current: 0,
            },
        }
    },
    watch: {
        percent(val) {
            try {
                progressPercent.innerText = val + "%";
            } catch (e) {
                console.log(e)
            }
        },
    },
    //metodo personalizado el upload, pasa de a uno a uno los archivos
    methods: {
        async newGuardarOrden() {
            Swal.fire({
                title: 'Guardando Cambios!',
                html: '<b id="progressPercent"></b>',
                didOpen: () => {
                    Swal.showLoading();
                },
            })
            let newImages = [];
            for (let i = 0; i < this.images.length; i++) {
                const data = {
                    id: this.images[i].id,
                    order: i,
                }
                newImages.push(data)
            }
            let config = {
                onUploadProgress: progressEvent => {
                    this.percent = progressEvent.loaded
                }
            };
            //newImages = JSON.stringify(newImages);
            //para no repetir una peticion por imagen, mando array
            axios.put(route('api.images.update', this.propertySlug), newImages, config)
                .then(res => {
                    //console.log(res);
                    console.log(res.data)
                    this.images = (res.data);
                    Swal.fire(
                        'Se ha guardado el orden de las imagenes!',
                        '',
                        'success'
                    )

                })
                .catch(err => {
                    console.log(err)
                    console.log(err.response)
                    console.log(err.response.data.message)
                    Swal.fire(
                        'Ha habido un error!',
                        '',
                        'error'
                    )
                })
        },
        async deleteImage(image, index) {
            await Swal.fire({
                title: 'Estas seguro?',
                icon: 'warning',
                imageUrl: route('property.index') + '/storage/' + image.url,
                //imageHeight: 200,
                imageWidth: 200,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Eliminar'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(route('api.images.destroy', image.id))
                        .then(res => {

                            console.log(res)
                            Swal.fire({
                                title: 'Eliminado!',
                                html: 'La imagen ha sido eliminada.',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            this.images.splice(index, 1)
                        })
                        .catch(err => {
                            console.log(err)
                            console.log(err.response)
                        })
                    //this.refresh();
                }
            })
        },
        backgroundImage(image) {
            return {
                'background-image': 'url(' + route('storage') + '/' + image.url + ')',
                'background-size': 'cover',
                'background-position': 'center'
            }
        },
        handleRemove(file, fileList) {
            this.fileList = fileList
        },
        handleSuccess(res, file, fileList) {
            file.raw['status'] = "success";
            this.checkCompleted(fileList)
        },
        handleError(err, file, fileList) {
            this.filesErrors++;
            this.fileList = fileList
            this.checkCompleted(fileList)
        },
        handleOnChange(file, fileList) {
            this.fileList = fileList
        },
        submitUpload() {
            this.filesLength = this.fileList.filter(value => value.status === 'ready').length;
            console.log('por subir ' + this.filesLength)
            if (this.filesLength > 0) {
                Swal.fire({
                    title: 'Comprimiendo Imagenes!',
                    didOpen: () => {
                        Swal.showLoading();
                    },
                })
                //activar el upload
                this.$refs.eluploadModal.submit()
            }
        },
        async checkCompleted(fileList) {
            if (fileList.filter(value => value.status === 'ready').length === 0) {
                console.log('todos han sido intentados');
                console.log('con errores' + this.filesErrors);

                if (this.filesErrors === 0) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Se han subido la(s) imagen(es)!',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    if (this.filesUploaded > 0) {
                        //await
                        await Swal.fire({
                            icon: 'success',
                            title: 'Se ha(n) subido ' + this.filesUploaded + ' imagen(es)!',
                        })
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Ha habido un error con ' + this.filesErrors + ' archivo(s)!',
                        html: 'Por favor, intentelo de nuevo'
                    })
                }
                this.refresh++;
                this.filesUploaded = 0;
                this.filesErrors = 0;
                this.filesTries = 0;
                this.fileProgress = [];
                console.log('finalizo la subida')
            }
        },

        async upToServe(file) {
            const compressOpt = {
                maxSizeMB: 1,
                maxWidthOrHeight: 1920,
                useWebWorker: true,
            }
            const compressed = await imageCompression(file.file, compressOpt)

            let formData = new FormData()
            formData.append('image', compressed)
            formData.append('propertySlug', this.propertySlug)

            let id = this.aux
            this.aux++

            let config = {
                onUploadProgress: progressEvent => {
                    if (progressEvent.loaded === progressEvent.total) {
                        this.progress.current++
                    }
                    // save the individual file's progress percentage in object
                    this.fileProgress[id] = (progressEvent.loaded * 100) / progressEvent.total
                    // sum up all file progress percentages to calculate the overall progress
                    let totalPercent = this.fileProgress ? Object.values(this.fileProgress).reduce((sum, num) => sum + num, 0) : 0
                    // divide the total percentage by the number of files
                    this.percent = parseInt(Math.round(totalPercent / this.filesLength))
                }
            }
            Swal.fire({
                title: 'Subiendo Imagenes!',
                html: '<b id="progressPercent"></b>',
                didOpen: () => {
                    Swal.showLoading();
                },
            })
            let fail = false
            await axios.post(route('api.images.store'), formData, config)
                .then(res => {
                    console.log(res)
                    this.images.push(res.data)
                    this.filesTries++
                    this.filesUploaded++;
                })
                .catch(err => {
                    console.log(err)
                    console.log(err.data)
                    this.filesTries++
                    this.filesErrors++;
                    fail = true;
                })
            if (fail) {
                return Promise.reject();
            }
        },
    },
    mounted() {
        console.log('mounted')
        axios.get(route('api.images.property', this.propertySlug))
            .then(res => {
                this.images = res.data
                console.log(res)
            })
            .catch(err => {
                console.log(err)
                console.log(err.data)
            })
    }
}
</script>

<style>
@import "~vue3-carousel/dist/carousel.css";

/*para el carousel de las imagenes*/
.carousel__item {
    height: 25rem;
    width: 100%;
    display: flex;
    font-size: 20px;
    border-radius: .3rem .3rem 0rem 0rem;
    justify-content: center;
    align-items: center;
}

.carousel__viewport {
    border-radius: .3rem .3rem 0rem 0rem;
}

.carousel__image {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel__pagination {
    background: #f03250;
    border-radius: 0rem 0rem .3rem .3rem;
}

.carousel__prev,
.carousel__next {
    background-color: #f03250;
}

/*EL ORDEN IMPORTA EN CAROUSEL*/

.carousel__pagination-button {
    background-color: #f0909e;
}

.carousel__pagination-button--active {
    background-color: #FFFFFF;
}
</style>

<style scoped>
.ghost {
    opacity: 0.5;
    background-color: #10b981;
}

.not-draggable {
    cursor: no-drop;
    opacity: 0.5;
    background-color: #10b981;
}

.disabled {
    opacity: 25%;
}

.ui-sortable-handle {
    background-color: #10b981;
    color: white
}

</style>
